[
  {
    "lastName": "Tester, First",
    "secondaryAddress": "Kuitinkatu 2",
    "primaryPostalCode": "00500",
    "accountName": "PlanMill Oy",
    "title": "Software Engineer",
    "primaryCity": "Helsinki",
    "invoiceXsl": "planmill_en_eur.xsl",
    "secondaryPostalCode": "02210",
    "skype": "skype:skpe_id?userinfo",
    "secondaryCity": "Espoo",
    "modified": "2015-09-08T14:56:19.663+0300",
    "modifiedBy": "Tester, Second",
    "id": 3574,
    "department": "Sofware Development",
    "fax": "+358-466-5556951",
    "primaryCountry": 73,
    "email": "first.tester@planmill.com",
    "secondaryCountry": 73,
    "website": "http://www.planmill.com",
    "created": "2015-06-22T15:43:36.880+0300",
    "accountType": 6,
    "linkedIn": "http://www.linkedin.com",
    "languageCode": "en",
    "passive": 0,
    "primaryPhone": "+358-466-5556951",
    "mobilePhone": "+358-466-5556951",
    "createdBy": "PlanMill, Maintenance-user",
    "workPhone": 358103229110,
    "googleTalk": "gtalk:call?gtalk_id",
    "primaryAddress": "Hämeentie 19",
    "account": 51
  },
  {
    "lastName": "Tester, Second",
    "secondaryAddress": null,
    "primaryPostalCode": null,
    "accountName": null,
    "title": null,
    "primaryCity": null,
    "invoiceXsl": null,
    "secondaryPostalCode": null,
    "skype": null,
    "secondaryCity": null,
    "modified": null,
    "modifiedBy": null,
    "id": 3577,
    "department": null,
    "fax": null,
    "primaryCountry": null,
    "email": null,
    "secondaryCountry": null,
    "website": null,
    "created": "2015-06-22T15:43:36.880+0300",
    "accountType": null,
    "linkedIn": null,
    "languageCode": "en",
    "passive": 0,
    "primaryPhone": null,
    "mobilePhone": null,
    "createdBy": null,
    "workPhone": null,
    "googleTalk": null,
    "primaryAddress": null,
    "account": null
  }
]