{
  "lastName": "Tester",
  "secondaryAddress": "Kuitinkatu 2",
  "primaryState": null,
  "secondaryEmail": "",
  "role": 1,
  "primaryPostalCode": "00500",
  "accountName": "PlanMill Oy",
  "secondaryDepartment": "HR Department",
  "title": "Software Engineer",
  "blog": "http://www.blog.com",
  "primaryCity": "Helsinki",
  "secondaryPostalCode": "03641",
  "skype": "skpe_id",
  "twitter": "http://www.twitter.com",
  "primaryDepartment": null,
  "secondaryCity": "Espoo",
  "id": 3081,
  "department": "Software Development",
  "fax": "+358-466-5556951",
  "primaryCountry": 73,
  "email": "mikko.tester@planmill.com",
  "secondaryCountry": 73,
  "facebook": "http://www.facebook.com",
  "secondaryState": "",
  "linkedIn": "http://www.linkedin.com",
  "projectWikiUserGroup": null,
  "languageCode": "en",
  "passive": 0,
  "firstName": "Mikko",
  "mobilePhone": "+358-466-5556951",
  "workPhone": "+358 10 322 9110",
  "googleTalk": "gtalk_id",
  "primaryAddress": "Hämeentie 19",
  "account": 51
}