[
  {
    "quantity": 175,
    "start": "2016-03-02T00:00:00.000+0200",
    "vat": 0,
    "description": "Private car + Passengers(1) (Hämeentie 19, Helsinki - Teekkarinkatu, Tampere)",
    "type": 350,
    "expense": 2972,
    "unit": "km",
    "exchangeRate": 1,
    "advancePayment": 0,
    "paymentMethod": 0,
    "finish": null,
    "id": 2986,
    "debt": 1,
    "currencyCode": "EUR"
  },
  {
    "quantity": 1,
    "start": "2016-03-02T00:00:00.000+0200",
    "vat": null,
    "description": "One night stay at Tampere hotel",
    "type": 3,
    "expense": 2972,
    "unit": "-",
    "exchangeRate": 1,
    "advancePayment": 0,
    "paymentMethod": 1,
    "finish": "2016-03-03T00:00:00.000+0200",
    "id": 2973,
    "debt": 1,
    "currencyCode": "EUR"
  },
  {
    "quantity": 2,
    "start": "2016-03-02T00:00:00.000+0200",
    "vat": 0,
    "description": "",
    "type": 200,
    "expense": 2972,
    "unit": "-",
    "exchangeRate": 1,
    "advancePayment": 0,
    "paymentMethod": 0,
    "finish": "2016-03-03T00:00:00.000+0200",
    "id": 2985,
    "debt": 1,
    "currencyCode": "EUR"
  },
  {
    "quantity": 175,
    "start": "2016-03-03T00:00:00.000+0200",
    "vat": 0,
    "description": "Private car + Passengers(1) (Teekkarinkatu, Tampere - Hämeentie 19, Helsinki)",
    "type": 350,
    "expense": 2972,
    "unit": "km",
    "exchangeRate": 1,
    "advancePayment": 0,
    "paymentMethod": 0,
    "finish": null,
    "id": 2987,
    "debt": 1,
    "currencyCode": "EUR"
  }
]