[
  {
    "invoicedAmount": 659.7,
    "dueDate": "2016-05-14T00:00:00.000+0300",
    "invoiceVAT": 18,
    "description": null,
    "invoiceEmail": null,
    "delivered": null,
    "delayInterest": 8.5,
    "invoiceCurrency": 1,
    "sentToAccounting": null,
    "reference": 6200026,
    "invoiceXSL": "planmill_fi_eur.xsl",
    "ourReference": "User_Account_Responsible",
    "supplier": 1355,
    "invoiceChannel": 2,
    "invoiceNumber": 20002,
    "id": 1011,
    "noticeTime": 8,
    "paymentStatus": 0,
    "supplierName": "Finances_Supplier_Account",
    "yourReference": "Finance department",
    "invoiceAppendix": null,
    "created": "2016-04-21T12:29:52.983+0300",
    "showSubTotals": 0,
    "invoiceDate": "2016-04-30 00:00:00.0",
    "invoiceNetOperator": 70,
    "invoiceNetAddress": "FI8712283100033557",
    "shippingAddress": "Finances_Customer_Account\r\nVästra Trädgårdsgatan 11\r\nSE-111 53 Stockholm",
    "comment": null,
    "billingAddress": "Finance department\r\nVästra Trädgårdsgatan 11\r\nSE-111 53 Stockholm",
    "paidAmount": 0,
    "termsOfPayment": 14,
    "VATid": null
  },
  {
    "invoicedAmount": 4046.67,
    "dueDate": "2016-05-14T00:00:00.000+0300",
    "invoiceVAT": 24,
    "description": null,
    "invoiceEmail": "invoice@planmill.com",
    "delivered": null,
    "delayInterest": 8.5,
    "invoiceCurrency": 1,
    "sentToAccounting": null,
    "reference": 6200000,
    "invoiceXSL": "planmill_fi_eur.xsl",
    "ourReference": "User_Responsible",
    "supplier": 1355,
    "invoiceChannel": 1,
    "invoiceNumber": 20000,
    "id": 1007,
    "noticeTime": 8,
    "paymentStatus": 0,
    "supplierName": "Finances_Supplier_Account",
    "yourReference": "Finance department",
    "invoiceAppendix": null,
    "created": "2016-04-21T12:20:47.717+0300",
    "showSubTotals": 0,
    "invoiceDate": "2016-04-30 00:00:00.0",
    "invoiceNetOperator": null,
    "invoiceNetAddress": null,
    "shippingAddress": "Finances_Customer_Account\r\nVästra Trädgårdsgatan 11\r\nSE-111 53 Stockholm\r\nSweden",
    "comment": null,
    "billingAddress": "Finance department\r\nVästra Trädgårdsgatan 11\r\nSE-111 53 Stockholm\r\nSweden",
    "paidAmount": 0,
    "termsOfPayment": 14,
    "VATid": 789123
  }
]