[
  {
    "taskBillableStatus": 3,
    "targetEffort": 0,
    "accountName": "PlanMill Oy",
    "offDuty": 0,
    "origin": 4,
    "project": 1436,
    "type": 2,
    "requestId": 1446,
    "actualEffort": 0,
    "responsible": null,
    "reported": 0,
    "modifiedBy": null,
    "id": 1445,
    "deadline": "2016-01-12T12:34:00.000+0200",
    "unitPrice": null,
    "plannedEffort": 360,
    "purchases": 0,
    "created": "2016-01-11T12:34:19.443+0200",
    "contactName": "Project.LastName, Project.FirstName",
    "start": "2016-01-11T12:34:00.000+0200",
    "emailsAmount": 0,
    "remainingEffort": 360,
    "totalEffort": 360,
    "priority": 0,
    "task": 1447,
    "createdBy": 1415,
    "name": "InsertRequest",
    "projectName": "DBUNIT_Project (1439)",
    "status": 0,
    "expenses": 0
  }
]