[
  {
    "taskBillableStatus": 3,
    "targetEffort": 180,
    "accountName": "Test Account",
    "offDuty": 2040,
    "origin": 1,
    "project": 1975,
    "type": 1,
    "requestId": 1978,
    "actualEffort": 0,
    "responsible": 3081,
    "reported": 0,
    "modifiedBy": 3081,
    "id": 1977,
    "deadline": "2015-08-12T16:40:00.000+0300",
    "unitPrice": 9.5,
    "plannedEffort": 150,
    "purchases": 0,
    "created": "2015-08-11T16:39:38.340+0300",
    "contactName": "Tester, Mikko",
    "start": "2015-08-11T16:40:00.000+0300",
    "emailsAmount": 1,
    "remainingEffort": 150,
    "totalEffort": 150,
    "priority": 3,
    "task": 1985,
    "createdBy": 1680,
    "name": "Test Request 1",
    "projectName": "Test Project A (8)",
    "status": 0,
    "expenses": 0
  },
  {
    "taskBillableStatus": 3,
    "targetEffort": 0,
    "accountName": "Test Account 2",
    "offDuty": 0,
    "origin": 4,
    "project": 7362,
    "type": 2,
    "requestId": -1,
    "actualEffort": 0,
    "responsible": null,
    "reported": 0,
    "modifiedBy": null,
    "id": -1,
    "deadline": "2015-08-19T15:14:00.000+0300",
    "unitPrice": null,
    "plannedEffort": 360,
    "purchases": 0,
    "created": "2015-08-12T15:14:23.680+0300",
    "contactName": "Tester, Second",
    "start": "2015-08-12T15:14:00.000+0300",
    "emailsAmount": 0,
    "remainingEffort": 360,
    "totalEffort": 360,
    "priority": 0,
    "task": -1,
    "createdBy": 7339,
    "name": "Test Request 2",
    "projectName": "Test Project B (5874)",
    "status": 0,
    "expenses": 0
  }
]