[
  {
    "shippingAccountName": "Shipping Account Oy",
    "shippingAccount": 353,
    "accountName": "Brand Suomi Oy",
    "VAT": "FI56985210",
    "delayInterest": 9.5,
    "operationalId": 2435,
    "billingAccount": 2740,
    "totalVAT": 4,
    "contact": "Spike, Matt",
    "supplier": 51,
    "responsible": 498942,
    "contractName": null,
    "id": 4229,
    "responsibleName": "Tester, Mikko",
    "quoteDate": null,
    "supplierName": "PlanMill Oy",
    "totalIncludeVAT": 5460.75,
    "quoteUntil": null,
    "invoiceAppendix": -1,
    "name": "PlanMill Test Cloud",
    "billingAccountName": "Brand Suomi Oy",
    "projectName": "PlanMill PSA Cloud (13181)",
    "supplierContact": "Tester, First",
    "orderDate": "2015-09-01T00:00:00.000+0300",
    "termsOfPayment": 14,
    "account": 2740,
    "status": 40,
    "totalExcludeVAT": 16.67
  },
  {
    "shippingAccountName": null,
    "shippingAccount": null,
    "accountName": "Test Business Services Oy",
    "VAT": "FI20627054",
    "delayInterest": 8,
    "operationalId": "1028",
    "billingAccount": 604204,
    "totalVAT": 7229.979160000003,
    "contact": "Thorn, Bert",
    "supplier": 441328,
    "responsible": 498942,
    "contractName": null,
    "id": 605923,
    "responsibleName": "Morrow, Tim",
    "quoteDate": null,
    "supplierName": "Test Group Ltd.",
    "totalIncludeVAT": 38664.67116,
    "quoteUntil": null,
    "invoiceAppendix": null,
    "name": "PlanMill Service",
    "billingAccountName": "MORE Business Services Oy",
    "projectName": null,
    "supplierContact": "Morrow, Tim",
    "orderDate": null,
    "termsOfPayment": 14,
    "account": 604204,
    "status": 50,
    "totalExcludeVAT": 31434.691999999995
  },
  {
    "shippingAccountName": "Test Group Ltd.",
    "shippingAccount": 441328,
    "accountName": "Test Group Ltd.",
    "VAT": "1273651276357",
    "delayInterest": 8,
    "operationalId": "1159",
    "billingAccount": 441328,
    "totalVAT": 42.5,
    "contact": "Viyan, Aso",
    "supplier": 441328,
    "responsible": 604564,
    "contractName": null,
    "id": 607171,
    "responsibleName": "Matt, Jones",
    "quoteDate": "2010-08-25T00:00:00.000+0300",
    "supplierName": "Test Group Ltd.",
    "totalIncludeVAT": 292.5,
    "quoteUntil": "2010-09-24T00:00:00.000+0300",
    "invoiceAppendix": null,
    "name": "Pikkujoulujuomat",
    "billingAccountName": "Test Group Ltd.",
    "projectName": null,
    "supplierContact": "Start, Tony",
    "orderDate": null,
    "termsOfPayment": 14,
    "account": 441328,
    "status": 40,
    "totalExcludeVAT": 250
  }
]