{
  "id": 12345,
  "request": null,
  "shippingAccount": null,
  "handlingFee": 0,
  "handlingFeeVat": 0,
  "project": null,
  "description": "",
  "delayInterest": 8,
  "operationalId": 1028,
  "type": 10,
  "billingAccount": 604204,
  "ourReference": "",
  "responsible": 498942,
  "contact": 604207,
  "invoiceItemSubtotaling": 0,
  "shippingReference": "",
  "noticeTime": 8,
  "quoteDate": null,
  "quoteUntil": null,
  "yourReference": "",
  "languageAndCurrency": "planmill_fi_eur.xsl",
  "contract": null,
  "opportunity": 605927,
  "reverseCharge": null,
  "name": "PlanMill PSA Cloud Service",
  "comment": "",
  "termsOfPayment": 14,
  "orderDate": null,
  "supplierContact": 498942,
  "status": 50
}