{
  "owner": 2834513,
  "goalPeriod": 3,
  "secondaryCountry": 0,
  "parent": 490066,
  "goalType": 3,
  "goalValue": 5000,
  "secondaryAddress": "",
  "primaryState": "",
  "primaryPostalCode": "00500",
  "costCenter": 1,
  "description": "Test description",
  "secondaryState": "",
  "secondaryDepartment": "",
  "passive": 0,
  "primaryCity": "Helsinki",
  "secondaryPostalCode": "",
  "name": "Test team",
  "primaryDepartment": "HR department",
  "secondaryCity": "",
  "id": 2845554,
  "primaryAddress": "Hämeentie 19",
  "primaryCountry": 73
}