{
  "amount": {
    "caption": "Quantity",
    "format": "double",
    "values": null
  },
  "start": {
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Start",
    "format": "string",
    "values": null
  },
  "totalReported": {
    "caption": "Total reported",
    "maxlength": "512",
    "values": null
  },
  "project": {
    "link": "users/2834510/reportableassignments",
    "values": null
  },
  "billableStatus": {
    "values": null
  },
  "requireBillableComment": {
    "values": null
  },
  "remainingAmount": {
    "caption": "Remain",
    "maxlength": "512",
    "values": null
  },
  "billableAmount": {
    "caption": "Billable",
    "format": "double",
    "values": null
  },
  "task": {
    "caption": "Task / Assignment",
    "values": {
      "-": "-1"
    },
    "link": "users/2834510/reportableassignments"
  },
  "billingComment": {
    "caption": "Invoice comment",
    "maxlength": "512",
    "values": null
  },
  "person": {
    "values": null
  },
  "finish": {
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Finish",
    "format": "string",
    "values": null
  },
  "comment": {
    "caption": "Comment",
    "maxlength": "512",
    "values": null
  },
  "id": {
    "values": null
  },
  "status": {
    "values": null
  }
}