{
  "sourceFields": [
    "contact.lastName",
    "contact.firstName",
    "contact.account",
    "contact.title",
    "contact.mobilePhone",
    "contact.email"
  ],
  "targetRows": [
    [
      "ROW1COL1",
      "ROW1COL2",
      "9999999",
      "ROW1COL4",
      "123456",
      "regressionb@accountb.com"
    ],
    [
      "ROW2COL1",
      "ROW2COL2",
      "123456",
      "ROW2COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW3COL1",
      "ROW3COL2",
      "123456",
      "ROW3COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW4COL1",
      "ROW4COL2",
      "123456",
      "ROW4COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW5COL1",
      "ROW5COL2",
      "123456",
      "ROW5COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW6COL1",
      "ROW6COL2",
      "123456",
      "ROW6COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW7COL1",
      "ROW7COL2",
      "123456",
      "ROW7COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW8COL1",
      "ROW8COL2",
      "123456",
      "ROW8COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW9COL1",
      "ROW9COL2",
      "123456",
      "ROW9COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW10COL1",
      "ROW10COL2",
      "123456",
      "ROW10COL4",
      "123456",
      "a@b.com"
    ]
  ],
  "sourceRows": [
    [
      "ROW1COL1",
      "ROW1COL2",
      "9999999",
      "ROW1COL4",
      "123456",
      "regressionb@accountb.com"
    ],
    [
      "ROW2COL1",
      "ROW2COL2",
      "123456",
      "ROW2COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW3COL1",
      "ROW3COL2",
      "123456",
      "ROW3COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW4COL1",
      "ROW4COL2",
      "123456",
      "ROW4COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW5COL1",
      "ROW5COL2",
      "123456",
      "ROW5COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW6COL1",
      "ROW6COL2",
      "123456",
      "ROW6COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW7COL1",
      "ROW7COL2",
      "123456",
      "ROW7COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW8COL1",
      "ROW8COL2",
      "123456",
      "ROW8COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW9COL1",
      "ROW9COL2",
      "123456",
      "ROW9COL4",
      "123456",
      "a@b.com"
    ],
    [
      "ROW10COL1",
      "ROW10COL2",
      "123456",
      "ROW10COL4",
      "123456",
      "a@b.com"
    ]
  ],
  "targetFields": [
    "contact.lastName",
    "contact.firstName",
    "contact.account",
    "contact.title",
    "contact.mobilePhone",
    "contact.email"
  ]
}