[
    {
        "minimumAmountToBeSold": null,
        "targetEffort": null,
        "searchKeywords": "",
        "revenueType": null,
        "discount": 0,
        "validFrom": "2018-12-01T00:00:00.000+0200",
        "operationalId": 35,
        "type": 1,
        "parentProduct": 946,
        "competence": null,
        "sellingPrice": 0,
        "warrantyPeriod": null,
        "billingType": 1,
        "vendor": null,
        "supplier": null,
        "modified": null,
        "modifiedBy": null,
        "relatedToPerson": null,
        "id": 1373,
        "owner": 356,
        "salesAccount": null,
        "invoicingPeriod": null,
        "operationalId": 12,
        "quantity": null,
        "costCenter": null,
        "created": "2018-12-31T12:36:13.833+0200",
        "vat": 24,
        "publishToStore": 0,
        "passive": 0,
        "unit": null,
        "task": null,
        "createdBy": 50,
        "name": "pm test product 2",
        "validUntil": null,
        "selfCost": 0,
        "customer": null
    },
    {
        "minimumAmountToBeSold": null,
        "targetEffort": 0,
        "searchKeywords": "",
        "revenueType": 4,
        "discount": 0,
        "validFrom": "2017-01-01T00:00:00.000+0200",
        "operationalId": 3,
        "type": 100,
        "parentProduct": 946,
        "competence": null,
        "sellingPrice": 0,
        "warrantyPeriod": null,
        "billingType": 2,
        "vendor": null,
        "supplier": null,
        "operationalId": 12,
        "modified": "2018-01-24T14:59:16.270+0200",
        "modifiedBy": 50,
        "relatedToPerson": null,
        "id": 948,
        "owner": 356,
        "salesAccount": 4,
        "invoicingPeriod": 3,
        "quantity": null,
        "costCenter": null,
        "created": "2015-11-23T02:04:21.600+0200",
        "vat": 24,
        "publishToStore": 0,
        "passive": 0,
        "unit": 2,
        "task": null,
        "createdBy": 50,
        "name": "Time and material based service",
        "validUntil": null,
        "selfCost": 0,
        "customer": null
    }
]