{
  "filters": [
    {
      "name": "freetextsearch",
      "caption": ""
    },
    {
      "name": "status",
      "caption": "Status",
      "values": {
        "All": "-1",
        "Locked": "2",
        "Preliminary": "4",
        "Reported": "0",
        "Accepted": "1"
      }
    },
    {
      "name": "billableStatus",
      "caption": "Billable status",
      "values": {
        "All": "-1",
        "In billing": "4",
        "Billable": "1",
        "Invoiced": "6",
        "Draft invoice": "5",
        "Non-billable": "3"
      }
    },
    {
      "name": "project",
      "caption": "Project",
      "values": {
        "All": "-1",
        "abc": "2782852"
      }
    },
    {
      "name": "person",
      "caption": "Person",
      "values": {
        "Jim, Harris": "2752646",
        "Sara, Johnson": "580283",
        "Mike, Hike": "2828584"
      }
    },
    {
      "name": "period",
      "caption": "Period",
      "values": {
        "All": "0",
        "Last 180 days": "16",
        "This week": "30",
        "This and next FY": "7",
        "Last 14 days": "26",
        "This and next month": "24",
        "This and next week": "34",
        "Next 30 days": "17",
        "Next 180 days": "21",
        "This FY": "5",
        "Next FY": "6",
        "This and last month": "25",
        "This FQ": "1",
        "Last month": "11",
        "Last 30 days": "12",
        "Last FY": "8",
        "Today and tomorrow": "44",
        "This and last week": "32",
        "This and next FQ": "3",
        "Last FQ": "4",
        "Last 120 days": "15",
        "This and last FY": "23",
        "Last week": "31",
        "This month": "9",
        "Next 120 days": "20",
        "Yesterday": "41",
        "Last 60 days": "13",
        "Next week": "33",
        "Next 60 days": "18",
        "Tomorrow": "43",
        "Today": "40",
        "Today and yesterday": "42",
        "Next FQ": "2",
        "Next month": "10",
        "This & last FQ": "22",
        "Last 90 days": "14",
        "Next 90 days": "19"
      }
    },
    {
      "name": "interval",
      "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
      "values": {
        "Date": "start"
      }
    },
    {
      "name": "rowcount",
      "caption": "Rows",
      "values": {
        "25": "25",
        "50": "50",
        "75": "75",
        "100": "100",
        "150": "150",
        "250": "250"
      }
    },
    {
      "name": "balance",
      "caption": "Balance"
    },
    {
      "name": "overtimebalance",
      "caption": "Overtime balance"
    }
  ],
  "fields": {
    "amount": {
      "format": "hour",
      "caption": "Reported"
    },
    "task": {
      "format": "text",
      "caption": "TimeReport.TaskId"
    },
    "billingComment": {
      "format": "text",
      "caption": "Invoice comment"
    },
    "person": {
      "format": "text",
      "caption": "Timereport.PersonId"
    },
    "start": {
      "format": "shortdate",
      "caption": "Date"
    },
    "project": {
      "format": "text",
      "caption": "PMVProject.Id"
    },
    "comment": {
      "format": "text",
      "caption": "Comment"
    },
    "finish": {
      "format": "mediumdate",
      "caption": "TimeReport.Finish"
    },
    "id": {
      "format": "text",
      "caption": "TimeReport.Id"
    },
    "billableStatus": {
      "format": "Enumeration values.Time report.Billable status",
      "caption": "Billable status"
    },
    "status": {
      "format": "texthtml",
      "caption": "Status"
    }
  }
}