{
  "lineOfBusiness": null,
  "shippingCity": "Helsinki",
  "businessId": "2862228-2",
  "vatId": "2862228-2",
  "invoiceEmail": "invoice_email@planmill.com",
  "shippingPostalCode": "13233",
  "type": 100,
  "blog": "http://www.blog.com",
  "twitter": "http://www.twitter.com",
  "shippingCountry": 73,
  "invoiceChannel": 22,
  "rfReferenceNumber": 0,
  "billingCountry": 73,
  "supplierAccount": 353,
  "billingState": "",
  "serviceLevel": 0,
  "autoReplyRequestMails": 1,
  "combineInvoices": 0,
  "reverseCharge": 10,
  "phone": "+358-46-334605",
  "name": "Test Account",
  "billingReference": "Finance Department",
  "shippingState": "",
  "termsOfPayment": 0,
  "handlingFee": 10,
  "invoiceVat": 24,
  "description": "<p>test description</p>",
  "industry": 100000,
  "parentAccount": null,
  "parentAccountName": null,
  "shippingReference": "HR department",
  "turnover": 100000,
  "email": "email@planmill.com",
  "owner": 4891,
  "website": "http://www.planmill.com",
  "facebook": "http://www.facebook.com",
  "staff": null,
  "passive": 0,
  "invoiceNetOperator": "NDEAFIHH",
  "billingPostalCode": "00500",
  "shippingAddress": "Siltasaarenkatu 18",
  "billingAddress": "Hämeentie 19",
  "billingCity": "Helsinki"
}