[
  {
    "lineOfBusiness": null,
    "shippingCity": "Helsinki",
    "handlingFee": 0.0,
    "businessId": "12345",
    "vatId": "456789",
    "invoiceVat": 23.0,
    "revenueLastYear": 0.0,
    "industry": -1,
    "invoiceEmail": "",
    "shippingPostalCode": "",
    "type": 8,
    "blog": "",
    "parentAccountName": null,
    "twitter": "",
    "ownerName": "LastName, FirstName",
    "shippingCountry": 0,
    "eInvoicingAddress": "",
    "invoiceChannel": 22,
    "rfReferenceNumber": 0,
    "billingCountry": 73,
    "modified": "2012-07-30T17:26:02.207+0300",
    "supplierAccountName": null,
    "modifiedBy": "LastName, FirstName",
    "activeContacts": 5,
    "id": 2805224,
    "email": "email@planmill.com",
    "owner": 2796580,
    "website": "",
    "supplierAccount": null,
    "created": "2012-03-06T10:38:06.467+0200",
    "facebook": "",
    "revenueThisYear": 0.0,
    "serviceLevel": 0,
    "passive": 0,
    "invoiceNetOperator": "NDEAFIHH",
    "combineInvoices": 0,
    "phone": "",
    "createdBy": "LastName, FirstName",
    "billingPostalCode": "0500",
    "name": "Inventory Department",
    "shippingAddress": "Hämeentie 19",
    "billingAddress": "Hämeentie 19",
    "termsOfPayment": 14,
    "billingCity": "Helsinki"
  },
  {
    "lineOfBusiness": null,
    "shippingCity": "Espoo",
    "handlingFee": null,
    "businessId": "7777777",
    "vatId": null,
    "invoiceVat": null,
    "revenueLastYear": 0.0,
    "industry": -1,
    "invoiceEmail": null,
    "shippingPostalCode": "12323",
    "type": -1,
    "blog": null,
    "parentAccountName": null,
    "twitter": null,
    "ownerName": "User, auth.person",
    "shippingCountry": -1,
    "eInvoicingAddress": null,
    "invoiceChannel": null,
    "rfReferenceNumber": -1,
    "billingCountry": -1,
    "modified": "2015-06-04T17:06:19.947+0300",
    "supplierAccountName": null,
    "modifiedBy": null,
    "activeContacts": 0,
    "id": 2841694,
    "email": null,
    "owner": 2841653,
    "website": null,
    "supplierAccount": null,
    "created": "2015-06-04T17:06:19.947+0300",
    "facebook": null,
    "revenueThisYear": 0.0,
    "serviceLevel": -1,
    "passive": -1,
    "invoiceNetOperator": null,
    "combineInvoices": 0,
    "phone": "12323",
    "createdBy": "User, auth.person",
    "billingPostalCode": "1343",
    "name": "Finance Department",
    "shippingAddress": "",
    "billingAddress": "",
    "termsOfPayment": -1,
    "billingCity": ""
  }
]