[
  {
    "request": 6827,
    "private": 0,
    "reminder": 0,
    "subject": "Test Action 1",
    "created": "2015-01-19T09:44:00.000+0200",
    "dueDate": "2015-10-19T00:00:00.000+0300",
    "start": "2015-10-19T00:00:00.000+0300",
    "opportunity": 5684,
    "project": 8572,
    "type": 1,
    "priority": 2,
    "salesOrder": 6891,
    "contact": 9658,
    "responsible": 4935,
    "modified": "2015-01-19T09:44:00.000+0200",
    "campaign": 7862,
    "location": "Tampere",
    "id": 599448,
    "status": 0
  },
  {
    "request": null,
    "private": 0,
    "reminder": 0,
    "subject": "Test Action 2",
    "created": "2015-09-07T16:27:06.920+0300",
    "dueDate": "2015-09-30T00:00:00.000+0300",
    "start": "2015-09-08T00:00:00.000+0300",
    "opportunity": 2579,
    "project": 5713,
    "type": 10,
    "priority": 2,
    "salesOrder": 5272,
    "contact": 5571,
    "responsible": 5547,
    "modified": "2015-09-08T12:16:27.593+0300",
    "campaign": 6954,
    "location": "Helsinki",
    "id": 5739,
    "status": 0
  },
  {
    "request": null,
    "private": 0,
    "reminder": 0,
    "subject": "Test Action 3",
    "created": "2010-01-13T10:16:00.000+0200",
    "dueDate": "2010-10-13T00:00:00.000+0300",
    "start": "2010-10-13T00:00:00.000+0300",
    "opportunity": null,
    "project": null,
    "type": 1,
    "priority": 2,
    "salesOrder": null,
    "contact": null,
    "responsible": 439,
    "modified": "2010-01-13T10:16:00.000+0200",
    "campaign": null,
    "location": null,
    "id": 600126,
    "status": 1
  }
]