[
  {
    "reportedEffort": 840,
    "taskBillableStatus": 3,
    "request": null,
    "taskStart": "2014-08-08T09:00:00.000+0300",
    "proposedDeadline": null,
    "proposedEffortAmount": 0,
    "remainingAmount": 0,
    "personOrTeamName": "Harju, Toni",
    "id": 1915130,
    "taskStatus": "100% complete",
    "unitPrice": null,
    "actualAmount": 840,
    "personOrTeam": 1832365,
    "photo": null,
    "team": null,
    "proposedAmount": 0,
    "totalAmount": 840,
    "task": 1915127,
    "declined": 0,
    "person": 1832365,
    "taskName": "Implementing and fixing parameters",
    "comment": null,
    "plannedAmount": 0,
    "taskFinish": "2022-08-14T16:30:00.000+0300",
    "status": null
  }, 
  {
    "reportedEffort": 0,
    "taskBillableStatus": 3,
    "request": null,
    "taskStart": "2014-08-08T09:00:00.000+0300",
    "proposedDeadline": null,
    "proposedEffortAmount": 0,
    "remainingAmount": 0,
    "personOrTeamName": "Qasim, Muhammad",
    "id": 1915131,
    "taskStatus": "100% complete",
    "unitPrice": null,
    "actualAmount": 0,
    "personOrTeam": 1832374,
    "photo": "user-icon-6.png",
    "team": null,
    "proposedAmount": 0,
    "totalAmount": 0,
    "task": 1915127,
    "declined": 0,
    "person": 1832374,
    "taskName": "Implementing and fixing parameters",
    "comment": null,
    "plannedAmount": 0,
    "taskFinish": "2022-08-14T16:30:00.000+0300",
    "status": null
  }
]
