[
  {
    "unitPrice": null,
    "reportedEffort": 123,
    "taskBillableStatus": 2,
    "request": 7451,
    "taskStart": "2015-08-13T09:58:00.000+0300",
    "proposedDeadline": null,
    "actualAmount": 0,
    "personOrTeam": 7467,
    "proposedEffortAmount": -600,
    "proposedAmount": 0,
    "remainingAmount": 600,
    "totalAmount": 600,
    "personOrTeamName": "Tester, First",
    "task": 7468,
    "declined": 0,
    "taskName": "Test Task 1",
    "comment": null,
    "plannedAmount": 600,
    "id": 7470,
    "taskFinish": "2015-08-14T09:58:00.000+0300",
    "taskStatus": "3. In progress",
    "status": null
  },
  {
    "unitPrice": null,
    "reportedEffort": 0,
    "taskBillableStatus": 3,
    "request": 7451,
    "taskStart": "2015-08-13T09:58:00.000+0300",
    "proposedDeadline": null,
    "actualAmount": 0,
    "personOrTeam": 7447,
    "proposedEffortAmount": null,
    "proposedAmount": null,
    "remainingAmount": 0,
    "totalAmount": 0,
    "personOrTeamName": "Tester, Second",
    "task": 7468,
    "declined": 0,
    "taskName": "Test Task 2",
    "comment": null,
    "plannedAmount": 150,
    "id": 7453,
    "taskFinish": "2015-08-14T09:58:00.000+0300",
    "taskStatus": "1. Received",
    "status": null
  },
  {
    "unitPrice": null,
    "reportedEffort": 180,
    "taskBillableStatus": 2,
    "request": 7451,
    "taskStart": "2015-08-13T09:58:00.000+0300",
    "proposedDeadline": null,
    "actualAmount": 0,
    "personOrTeam": 7463,
    "proposedEffortAmount": -240,
    "proposedAmount": null,
    "remainingAmount": 0,
    "totalAmount": 0,
    "personOrTeamName": "Tester, Third",
    "task": 7468,
    "declined": 0,
    "taskName": "Test Task 3",
    "comment": null,
    "plannedAmount": 240,
    "id": 7471,
    "taskFinish": "2015-08-14T09:58:00.000+0300",
    "taskStatus": "100% complete",
    "status": null
  }
]
