{
  "remainingAmount": 100,
  "taskStart": "2022-07-13T09:58:00.000+0300",
  "task": 20250,
  "timereportsAmount": 120,
  "personOrTeam": 7447,
  "actualAmount": 60,
  "totalReported": 100,
  "project": 1046,
  "plannedAmount": 220,
  "taskFinish": "2022-06-10T09:58:00.000+0300"
}
