[
  {
    "destination": "projects",
    "method": "POST",
    "header": {
      
    },
    "body": {
      "name": "BatchDraftV1",
	  "portfolio": "210",
	  "contact": "356"
    }
  },
  {
    "destination": "projects",
    "method": "GET",
    "header": {
      
    }
  }
]