{
  "name": "Test Company",
  "id": 170317,
  "passive": 0,
  "vatId": "2862228-2",
  "businessId": "2862228-2",
  "phone": "+358-44-324125",
  "website": "http://www.planmill.com",
  "email": "email@planmill.com",
  "billingAddress": "Hämeentie 19",
  "billingCity": "Helsinki",
  "billingCountry": 73,
  "billingState": null,
  "billingPostalCode": "00500",
  "visitingAddress": "Siltasaarenkatu 18",
  "visitingCity": "Helsinki",
  "visitingCountry": 73,
  "visitingPostalCode": "13233",
  "visitingState": "",
  "domicile": "Helsinki",
  "firstInvoiceNumber": "100",
  "einvoiceSenderId": "003704984967", 
  "einvoiceSenderOperator": 190,
  "einvoicePaymentInstruction": "Internetpalvelumaksu",
  "ceo": "Thomas",
  "bankAccount1": "Nordea",
  "iban1": "FI1699854966354215",
  "bic1": "NDEAFIHH",
  "bankInfo1": "Nordea bank",
  "bankAccount2": "Barclays",
  "iban2": "GB33BUKB20201555555555",
  "bic2": "BUKBGB22",
  "bankAccount3": "Nordea",
  "iban3":  "FI1699854966354215",
  "bic3": "NDEAFIHH",
  "factoringResponsibleId": 100,
  "factoringPartyId": 353,
  "agreementId": "102"
}