[
  {
    "name": "Test Company",
    "id": 181417,
    "passive": 0,
    "vatId": "2862228-2",
    "businessId": "2862228-2",
    "phone": "+358-44-324125",
    "website": "http://www.planmill.com",
    "email": "email@planmill.com",
    "billingAddress": "Hämeentie 19",
    "billingCity": "Helsinki",
    "billingCountry": 73,
    "billingState": null,
    "billingPostalCode": "00500",
    "visitingAddress": "Siltasaarenkatu 18",
    "visitingCity": "Helsinki",
    "visitingCountry": 73,
    "visitingPostalCode": "13233",
    "visitingState": "",
    "domicile": null,
    "firstInvoiceNumber": null,
    "einvoiceSenderId": null,
    "einvoiceSenderOperator": null,
    "einvoicePaymentInstruction": null,
    "ceo": null,
    "bankAccount1": null,
    "iban1": null,
    "bic1": null,
    "bankInfo1": null,
    "bankAccount2": null,
    "iban2": null,
    "bic2": null,
    "bankAccount3": null,
    "iban3": null,
    "bic3": null
  },
  {
    "name": "Test Company",
    "id": 170317,
    "passive": 0,
    "vatId": "2862228-2",
    "businessId": "2862228-2",
    "phone": "+358-44-324125",
    "website": "http://www.planmill.com",
    "email": "email@planmill.com",
    "billingAddress": "Hämeentie 19",
    "billingCity": "Helsinki",
    "billingCountry": 73,
    "billingState": null,
    "billingPostalCode": "00500",
    "visitingAddress": "Siltasaarenkatu 18",
    "visitingCity": "Helsinki",
    "visitingCountry": 73,
    "visitingPostalCode": "13233",
    "visitingState": "",
    "domicile": null,
    "firstInvoiceNumber": null,
    "einvoiceSenderId": null,
    "einvoiceSenderOperator": null,
    "einvoicePaymentInstruction": null,
    "ceo": null,
    "bankAccount1": null,
    "iban1": null,
    "bic1": null,
    "bankInfo1": null,
    "bankAccount2": null,
    "iban2": null,
    "bic2": null,
    "bankAccount3": null,
    "iban3": null,
    "bic3": null
  }
]