{
  "lastName": {
    "caption": "Last name",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "secondaryAddress": {
    "caption": "Secondary address",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "primaryState": {
    "caption": "Primary state",
    "format": "string",
    "description": "",
    "values": null
  },
  "secondaryEmail": {
    "caption": "Secondary email",
    "format": "email",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "role": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "primaryPostalCode": {
    "caption": "Primary postal/Zip code",
    "format": "string",
    "description": "",
    "values": null
  },
  "accountName": {
    "caption": "Account",
    "format": "string",
    "description": "",
    "values": null
  },
  "secondaryDepartment": {
    "caption": "Secondary department/reference",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "title": {
    "caption": "Title",
    "format": "string",
    "description": "",
    "maxlength": "255",
    "values": null
  },
  "blog": {
    "caption": "Blog",
    "format": "url",
    "description": "",
    "maxlength": "255",
    "values": null
  },
  "primaryCity": {
    "caption": "Primary city",
    "format": "string",
    "description": "",
    "values": null
  },
  "secondaryPostalCode": {
    "caption": "Secondary postal/Zip code",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "skype": {
    "caption": "Skype",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "twitter": {
    "caption": "Twitter",
    "format": "url",
    "description": "",
    "maxlength": "255",
    "values": null
  },
  "primaryDepartment": {
    "caption": "Primary department/reference",
    "format": "string",
    "description": "",
    "values": null
  },
  "secondaryCity": {
    "caption": "Secondary city",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "id": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "department": {
    "caption": "Department",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "fax": {
    "description": "e.g. +xxx-xx-xxxx",
    "caption": "Fax",
    "format": "phone",
    "maxlength": "80",
    "values": null
  },
  "primaryCountry": {
    "caption": "Primary country",
    "format": "int",
    "description": "",
    "enumeration": "Enumeration values.Location.CountryId",
    "values": {
      "Papua New Guinea": "165",
      "Cambodia": "37",
      "Paraguay": "166",
      "Åland Islands": "236",
      "Bahamas": "17",
      "Solomon Islands": "188",
      "Montserrat": "142",
      "Mali": "130",
      "Marshall Islands": "132",
      "Guadeloupe": "239",
      "Panama": "164",
      "Virgin Islands, British": "27",
      "Iran, Islamic Republic of": "98",
      "Tanzania, United Republic of": "205",
      "Argentina": "9",
      "Seychelles": "183",
      "Zambia": "233",
      "Belize": "23",
      "Bahrain": "19",
      "-": "0",
      "Guinea-Bissau": "89",
      "Namibia": "146",
      "Comoros": "50",
      "Faroe Islands": "71",
      "Finland": "73",
      "Netherlands Antilles": "150",
      "Georgia": "79",
      "French Southern territories": "258",
      "Saint Kitts and Nevis": "194",
      "Yemen": "235",
      "Eritrea": "67",
      "Puerto Rico": "171",
      "Viet Nam": "225",
      "Yugoslavia (discontinued)": "231",
      "Aruba": "11",
      "Madagascar": "126",
      "Svalbard and Jan Mayen": "254",
      "Saint Martin": "251",
      "South Georgia and the South Sandwich Islands": "253",
      "Sweden": "199",
      "Malawi": "127",
      "Cocos (Keeling) Islands": "260",
      "Andorra": "5",
      "Liechtenstein": "122",
      "Poland": "169",
      "Bulgaria": "34",
      "Jordan": "106",
      "Tunisia": "211",
      "Australian External Territories(discontinued)": "14",
      "Tuvalu": "214",
      "United Arab Emirates": "217",
      "Kenya": "108",
      "Yemen Arab Republic (North Yemen)(discontinued)": "230",
      "French Polynesia": "202",
      "Lebanon": "117",
      "Djibouti": "62",
      "Azerbaijan": "16",
      "Cuba": "55",
      "Czech Republic": "57",
      "Saint Lucia": "250",
      "Mauritania": "134",
      "Guernsey": "240",
      "Mayotte": "136",
      "Korea, Republic of (South Korea)": "111",
      "San Marino": "178",
      "Israel": "101",
      "Australia": "13",
      "Tajikistan": "204",
      "Other": "1000",
      "Myanmar": "145",
      "Cameroon": "38",
      "Gibraltar": "82",
      "Cyprus": "56",
      "Northern Mariana Islands": "159",
      "Saipan(double)": "177",
      "Malaysia": "128",
      "Oman": "161",
      "Iceland": "95",
      "Armenia": "10",
      "Macedonia, The former Yugoslav Republic of": "125",
      "Gabon": "77",
      "Luxembourg": "123",
      "Brazil": "31",
      "Turks and Caicos Islands": "255",
      "Algeria": "3",
      "Jersey": "247",
      "Slovenia": "187",
      "Antigua and Barbuda": "8",
      "Colombia": "49",
      "Ecuador": "63",
      "Cape Verdi(double)": "43",
      "Vanuatu": "222",
      "United States Minor Outlying Islands": "257",
      "Honduras": "92",
      "Italy": "102",
      "Antarctica": "237",
      "Nauru": "147",
      "Haiti": "91",
      "Afghanistan": "1",
      "Burundi": "36",
      "Russian Federation": "175",
      "Singapore": "185",
      "French Guiana": "76",
      "American Samoa": "4",
      "Christmas Island": "259",
      "Congo (Congo-Kinshasa)": "232",
      "Netherlands": "149",
      "China": "47",
      "Martinique": "133",
      "Palestinian Territory, Occupied": "244",
      "Saint Pierre and Miquelon": "195",
      "Kyrgyzstan": "114",
      "Bhutan": "26",
      "Romania": "174",
      "Falkland Islands (Malvinas)": "70",
      "Togo": "207",
      "Philippines": "168",
      "Uzbekistan": "221",
      "Holy See (Vatican City State)": "223",
      "Pitcairn": "248",
      "Zimbabwe": "234",
      "British Indian Ocean Territory": "59",
      "Montenegro": "242",
      "Dominica": "60",
      "Indonesia": "97",
      "Benin": "24",
      "Yemen (People's Democratic Republic of)(discontinued)": "229",
      "Angola": "6",
      "East Timor": "245",
      "Sudan": "196",
      "Brunei Darussalam": "33",
      "Portugal": "170",
      "New Caledonia": "152",
      "Grenada": "85",
      "Cayman Islands": "42",
      "Greece": "83",
      "Latvia": "115",
      "Mongolia": "141",
      "Congo (Congo-Brazzaville)": "51",
      "Morocco": "143",
      "Guatemala": "87",
      "Guyana": "90",
      "Iraq": "99",
      "Chile": "46",
      "Nepal": "148",
      "Heard Island and McDonald Islands": "241",
      "Isle of Man": "246",
      "Ukraine": "216",
      "Ghana": "81",
      "Anguilla": "7",
      "India": "96",
      "Canada": "39",
      "Maldives": "129",
      "Turkey": "212",
      "Belgium": "22",
      "Côte d?Ivoire": "103",
      "Khmer Republic (Cambodia/Kampuchea)(double)": "109",
      "South Africa": "190",
      "Trinidad and Tobago": "210",
      "Bermuda": "25",
      "Central African Republic": "44",
      "Lao People?s Democratic Republic": "116",
      "Jamaica": "104",
      "Peru": "167",
      "Turkmenistan": "213",
      "Germany": "80",
      "Korea, Democratic People?s Republic of (North Korea)": "112",
      "Fiji": "72",
      "Tokelau": "208",
      "Hong Kong": "93",
      "Guinea": "88",
      "United States": "220",
      "Micronesia, Federated States of": "138",
      "Chad": "45",
      "Somalia": "189",
      "Nevis(double)": "151",
      "Sao Tome and Principe": "179",
      "Thailand": "206",
      "Kiribati": "110",
      "Equatorial Guinea": "66",
      "Costa Rica": "53",
      "Kuwait": "113",
      "Nigeria": "156",
      "Croatia": "54",
      "Syrian Arab Republic": "201",
      "Cook Islands": "52",
      "Sri Lanka": "192",
      "Uruguay": "219",
      "United Kingdom": "218",
      "Switzerland": "200",
      "Samoa": "228",
      "Spain": "191",
      "Liberia": "119",
      "Venezuela": "224",
      "Burkina Faso": "35",
      "Virgin Islands, U.S.": "226",
      "Swaziland": "198",
      "Saint Barthélemy": "249",
      "Palau": "163",
      "Estonia": "68",
      "Libyan Arab Jamahiriya": "121",
      "Kazakstan": "107",
      "Wallis and Futuna": "227",
      "Niue": "157",
      "Austria": "15",
      "Mozambique": "144",
      "El Salvador": "65",
      "Monaco": "140",
      "Guam": "86",
      "British V.I.(double)": "32",
      "Lesotho": "118",
      "Tonga": "209",
      "Western Sahara": "256",
      "Réunion": "173",
      "Hungary": "94",
      "Japan": "105",
      "Belarus": "21",
      "Mauritius": "135",
      "Bouvet Island": "238",
      "Norfolk Island": "243",
      "Albania": "2",
      "New Zealand": "153",
      "Senegal": "181",
      "Moldova, Republic of": "139",
      "Ethiopia": "69",
      "Taiwan(double)": "203",
      "Egypt": "64",
      "Macau": "124",
      "Sierra Leone": "184",
      "North Korea(double)": "158",
      "Bolivia": "28",
      "Malta": "131",
      "Saudi Arabia": "180",
      "Cape Verde": "40",
      "Pakistan": "162",
      "Gambia": "78",
      "Qatar": "172",
      "Ireland": "100",
      "Slovakia": "186",
      "Lithuania": "120",
      "France": "74",
      "Serbia": "182",
      "Bosnia and Herzegovina": "29",
      "Taiwan, Province of China": "48",
      "Niger": "155",
      "French Antilles(discontinued)": "75",
      "Rwanda": "176",
      "Ascension Island(double,now part of  St. Helena)": "12",
      "Bangladesh": "20",
      "Barbados": "18",
      "Nicaragua": "154",
      "Norway": "160",
      "Saint Vincent and the Grenadines": "252",
      "Botswana": "30",
      "Denmark": "58",
      "Dominican Republic": "61",
      "Mexico": "137",
      "Uganda": "215",
      "Suriname": "197",
      "Greenland": "84",
      "Saint Helena": "193"
    }
  },
  "email": {
    "caption": "Email",
    "format": "email",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "secondaryCountry": {
    "caption": "Secondary country",
    "format": "int",
    "description": "",
    "enumeration": "Enumeration values.Location.CountryId",
    "values": {
      "Papua New Guinea": "165",
      "Cambodia": "37",
      "Paraguay": "166",
      "Åland Islands": "236",
      "Bahamas": "17",
      "Solomon Islands": "188",
      "Montserrat": "142",
      "Mali": "130",
      "Marshall Islands": "132",
      "Guadeloupe": "239",
      "Panama": "164",
      "Virgin Islands, British": "27",
      "Iran, Islamic Republic of": "98",
      "Tanzania, United Republic of": "205",
      "Argentina": "9",
      "Seychelles": "183",
      "Zambia": "233",
      "Belize": "23",
      "Bahrain": "19",
      "-": "0",
      "Guinea-Bissau": "89",
      "Namibia": "146",
      "Comoros": "50",
      "Faroe Islands": "71",
      "Finland": "73",
      "Netherlands Antilles": "150",
      "Georgia": "79",
      "French Southern territories": "258",
      "Saint Kitts and Nevis": "194",
      "Yemen": "235",
      "Eritrea": "67",
      "Puerto Rico": "171",
      "Viet Nam": "225",
      "Yugoslavia (discontinued)": "231",
      "Aruba": "11",
      "Madagascar": "126",
      "Svalbard and Jan Mayen": "254",
      "Saint Martin": "251",
      "South Georgia and the South Sandwich Islands": "253",
      "Sweden": "199",
      "Malawi": "127",
      "Cocos (Keeling) Islands": "260",
      "Andorra": "5",
      "Liechtenstein": "122",
      "Poland": "169",
      "Bulgaria": "34",
      "Jordan": "106",
      "Tunisia": "211",
      "Australian External Territories(discontinued)": "14",
      "Tuvalu": "214",
      "United Arab Emirates": "217",
      "Kenya": "108",
      "Yemen Arab Republic (North Yemen)(discontinued)": "230",
      "French Polynesia": "202",
      "Lebanon": "117",
      "Djibouti": "62",
      "Azerbaijan": "16",
      "Cuba": "55",
      "Czech Republic": "57",
      "Saint Lucia": "250",
      "Mauritania": "134",
      "Guernsey": "240",
      "Mayotte": "136",
      "Korea, Republic of (South Korea)": "111",
      "San Marino": "178",
      "Israel": "101",
      "Australia": "13",
      "Tajikistan": "204",
      "Other": "1000",
      "Myanmar": "145",
      "Cameroon": "38",
      "Gibraltar": "82",
      "Cyprus": "56",
      "Northern Mariana Islands": "159",
      "Saipan(double)": "177",
      "Malaysia": "128",
      "Oman": "161",
      "Iceland": "95",
      "Armenia": "10",
      "Macedonia, The former Yugoslav Republic of": "125",
      "Gabon": "77",
      "Luxembourg": "123",
      "Brazil": "31",
      "Turks and Caicos Islands": "255",
      "Algeria": "3",
      "Jersey": "247",
      "Slovenia": "187",
      "Antigua and Barbuda": "8",
      "Colombia": "49",
      "Ecuador": "63",
      "Cape Verdi(double)": "43",
      "Vanuatu": "222",
      "United States Minor Outlying Islands": "257",
      "Honduras": "92",
      "Italy": "102",
      "Antarctica": "237",
      "Nauru": "147",
      "Haiti": "91",
      "Afghanistan": "1",
      "Burundi": "36",
      "Russian Federation": "175",
      "Singapore": "185",
      "French Guiana": "76",
      "American Samoa": "4",
      "Christmas Island": "259",
      "Congo (Congo-Kinshasa)": "232",
      "Netherlands": "149",
      "China": "47",
      "Martinique": "133",
      "Palestinian Territory, Occupied": "244",
      "Saint Pierre and Miquelon": "195",
      "Kyrgyzstan": "114",
      "Bhutan": "26",
      "Romania": "174",
      "Falkland Islands (Malvinas)": "70",
      "Togo": "207",
      "Philippines": "168",
      "Uzbekistan": "221",
      "Holy See (Vatican City State)": "223",
      "Pitcairn": "248",
      "Zimbabwe": "234",
      "British Indian Ocean Territory": "59",
      "Montenegro": "242",
      "Dominica": "60",
      "Indonesia": "97",
      "Benin": "24",
      "Yemen (People's Democratic Republic of)(discontinued)": "229",
      "Angola": "6",
      "East Timor": "245",
      "Sudan": "196",
      "Brunei Darussalam": "33",
      "Portugal": "170",
      "New Caledonia": "152",
      "Grenada": "85",
      "Cayman Islands": "42",
      "Greece": "83",
      "Latvia": "115",
      "Mongolia": "141",
      "Congo (Congo-Brazzaville)": "51",
      "Morocco": "143",
      "Guatemala": "87",
      "Guyana": "90",
      "Iraq": "99",
      "Chile": "46",
      "Nepal": "148",
      "Heard Island and McDonald Islands": "241",
      "Isle of Man": "246",
      "Ukraine": "216",
      "Ghana": "81",
      "Anguilla": "7",
      "India": "96",
      "Canada": "39",
      "Maldives": "129",
      "Turkey": "212",
      "Belgium": "22",
      "Côte d?Ivoire": "103",
      "Khmer Republic (Cambodia/Kampuchea)(double)": "109",
      "South Africa": "190",
      "Trinidad and Tobago": "210",
      "Bermuda": "25",
      "Central African Republic": "44",
      "Lao People?s Democratic Republic": "116",
      "Jamaica": "104",
      "Peru": "167",
      "Turkmenistan": "213",
      "Germany": "80",
      "Korea, Democratic People?s Republic of (North Korea)": "112",
      "Fiji": "72",
      "Tokelau": "208",
      "Hong Kong": "93",
      "Guinea": "88",
      "United States": "220",
      "Micronesia, Federated States of": "138",
      "Chad": "45",
      "Somalia": "189",
      "Nevis(double)": "151",
      "Sao Tome and Principe": "179",
      "Thailand": "206",
      "Kiribati": "110",
      "Equatorial Guinea": "66",
      "Costa Rica": "53",
      "Kuwait": "113",
      "Nigeria": "156",
      "Croatia": "54",
      "Syrian Arab Republic": "201",
      "Cook Islands": "52",
      "Sri Lanka": "192",
      "Uruguay": "219",
      "United Kingdom": "218",
      "Switzerland": "200",
      "Samoa": "228",
      "Spain": "191",
      "Liberia": "119",
      "Venezuela": "224",
      "Burkina Faso": "35",
      "Virgin Islands, U.S.": "226",
      "Swaziland": "198",
      "Saint Barthélemy": "249",
      "Palau": "163",
      "Estonia": "68",
      "Libyan Arab Jamahiriya": "121",
      "Kazakstan": "107",
      "Wallis and Futuna": "227",
      "Niue": "157",
      "Austria": "15",
      "Mozambique": "144",
      "El Salvador": "65",
      "Monaco": "140",
      "Guam": "86",
      "British V.I.(double)": "32",
      "Lesotho": "118",
      "Tonga": "209",
      "Western Sahara": "256",
      "Réunion": "173",
      "Hungary": "94",
      "Japan": "105",
      "Belarus": "21",
      "Mauritius": "135",
      "Bouvet Island": "238",
      "Norfolk Island": "243",
      "Albania": "2",
      "New Zealand": "153",
      "Senegal": "181",
      "Moldova, Republic of": "139",
      "Ethiopia": "69",
      "Taiwan(double)": "203",
      "Egypt": "64",
      "Macau": "124",
      "Sierra Leone": "184",
      "North Korea(double)": "158",
      "Bolivia": "28",
      "Malta": "131",
      "Saudi Arabia": "180",
      "Cape Verde": "40",
      "Pakistan": "162",
      "Gambia": "78",
      "Qatar": "172",
      "Ireland": "100",
      "Slovakia": "186",
      "Lithuania": "120",
      "France": "74",
      "Serbia": "182",
      "Bosnia and Herzegovina": "29",
      "Taiwan, Province of China": "48",
      "Niger": "155",
      "French Antilles(discontinued)": "75",
      "Rwanda": "176",
      "Ascension Island(double,now part of  St. Helena)": "12",
      "Bangladesh": "20",
      "Barbados": "18",
      "Nicaragua": "154",
      "Norway": "160",
      "Saint Vincent and the Grenadines": "252",
      "Botswana": "30",
      "Denmark": "58",
      "Dominican Republic": "61",
      "Mexico": "137",
      "Uganda": "215",
      "Suriname": "197",
      "Greenland": "84",
      "Saint Helena": "193"
    }
  },
  "facebook": {
    "caption": "Facebook",
    "format": "url",
    "description": "",
    "maxlength": "255",
    "values": null
  },
  "secondaryState": {
    "caption": "Secondary state",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "linkedIn": {
    "caption": "LinkedIn",
    "format": "url",
    "description": "",
    "maxlength": "255",
    "values": null
  },
  "projectWikiUserGroup": {
    "description": "Confluence required",
    "caption": "Access to my company wiki",
    "values": {
      "-": ""
    },
    "format": "int"
  },
  "languageCode": {
    "caption": "Language",
    "format": "string",
    "description": "",
    "maxlength": "10",
    "enumeration": "Enumeration values.Sales management.Contacts.Language",
    "values": {
      "English": "en",
      "Finnish": "fi",
      "German": "de",
      "Swedish": "sv"
    }
  },
  "passive": {
    "caption": "Status",
    "format": "int",
    "description": "",
    "enumeration": "Enumeration values.Sales management.Accounts.Status",
    "values": {
      "Active": "0",
      "Inactive": "1"
    }
  },
  "firstName": {
    "caption": "First name",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "mobilePhone": {
    "description": "e.g. +xxx-xx-xxxx",
    "caption": "Mobile phone",
    "format": "phone",
    "maxlength": "80",
    "values": null
  },
  "workPhone": {
    "description": "e.g. +xxx-xx-xxxx",
    "caption": "Work phone",
    "format": "phone",
    "maxlength": "80",
    "values": null
  },
  "googleTalk": {
    "caption": "Google Talk",
    "format": "string",
    "description": "",
    "maxlength": "80",
    "values": null
  },
  "primaryAddress": {
    "caption": "Primary address",
    "format": "string",
    "description": "",
    "values": null
  },
  "account": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  }
}