[
{
    "productId": 1314,
    "billingType": 1,
    "competenceId": -1,
    "costCenter": -1,
    "contractId": 1558,
    "created": "2023-12-15 11:13:39.6",
    "createdBy": 356,
    "description":  "<p>Test description</p>",
    "id": 2701,
    "invoiceProcess": 2,
    "invoicingPeriod": 110,
    "modified": "2023-12-18 13:26:32.043",
    "modifiedBy": 356,
    "name": "Test contract item",
    "operationalId": "",
    "orderStatus": 10,
    "quantity": 1,
    "revenueType": 4,
    "responsibleId": 356,
    "sellingPrice": 101,
    "taskId": -1,
    "unit": 3,
    "vat": 24,
    "validFrom": "2023-12-07T00:00:00.000+0200",
    "validUntil": "2023-12-28T00:00:00.000+0200"
},
{
    "productId": 1314,
    "billingType": 1,
    "competenceId": -1,
    "costCenter": -1,
    "contractId": 1558,
    "created": "2023-12-15 11:14:39.6",
    "createdBy": 356,
    "description":  "<p>Second test description</p>",
    "id": 2702,
    "invoiceProcess": 2,
    "invoicingPeriod": 110,
    "modified": "2023-12-18 13:28:32.043",
    "modifiedBy": 356,
    "name": "Second test contract item",
    "operationalId": "",
    "orderStatus": 10,
    "quantity": 2,
    "revenueType": 4,
    "responsibleId": 356,
    "sellingPrice": 202,
    "taskId": -1,
    "unit": 3,
    "vat": 24,
    "validFrom": "2023-12-07T00:00:00.000+0200",
    "validUntil": "2023-12-28T00:00:00.000+0200"
}
]