{
    "lastName": "Tester",
    "secondaryAddress": null,
    "secondaryEmail": "",
    "accountName": "PlanMill Oy",
    "description": null,
    "title": "Software Engineer",
    "blog": "http://www.blog.com",
    "secondaryPostalCode": null,
    "skype": "skpe_id",
    "twitter": "http://www.twitter.com",
    "campaigns": null,
    "secondaryCity": null,
    "department": "Software Development",
    "email": "mikko.tester@planmill.com",
    "secondaryCountry": null,
    "facebook": "http://www.facebook.com",
    "secondaryState": null,
    "linkedIn": "http://www.linkedin.com",
    "languageCode": "en",
    "passive": 0,
    "firstName": "Mikko",
    "mobilePhone": "+358-466-5556951",
    "workPhone": "+358 10 322 9110",
    "googleTalk": "gtalk_id",
    "account": 51
}