[
  {
    "hook": "account.update",
    "eventUser": 123,
    "id": 2851,
    "eventProject": 456,
    "includePayload": 0,
    "type": 1,
    "url": "https://example.com/hook"
  },
  {
    "hook": "account.update",
    "eventUser": 123,
    "id": 2836,
    "eventProject": 456,
    "includePayload": 0,
    "type": 1,
    "url": "https://example.com/hook"
  }
]
