[
  {
    "id": 1770,
    "typeId": 10,
    "accountId": 353,
    "resourceType": "invoice",
    "name": "Custom Finvoice based",
    "enabled": 0,
    "username": "PlanmillUser",
    "startDate": "2021-12-01T00:00:00.000+0200",
    "target": "/Bills",	
    "fileTemplate": "[InvoiceNumber]",
    "dimensionTemplate": "[ProductGroupId]",
    "language": "EN",
    "includePdf": 1,
    "zipFiles": 0,
    "deferredSending": 0,
    "reportExports": "Reports.Portal.03 Invoicing.41 Actual revenues monthly summary by customer,Reports.Portal.04 Time and expense.11 Time report analysis by person",
    "tableExports": "Sales management.Sales orders,Sales management.Opportunities,Employee directory.Contact",
    "owner": 356,
    "includeElements": "costcenters"
  },
  {
    "id": 1773,
    "typeId": 40,
    "accountId": 353,
    "resourceType": "expense",
    "name": "Procountor expense",
    "enabled": 0,
    "username": null,
    "startDate": null,
    "target": null,	
    "fileTemplate": null,
    "dimensionTemplate": null,
    "language": null,
    "includePdf": null,
    "zipFiles": null,
    "deferredSending": null,
    "reportExports": null,
    "tableExports": null,
    "owner": null,
    "includeElements": null
  }
]