[
  {
    "id": 1770,
    "typeId": 10,
    "accountId": 353,
    "resourceType": "invoice",
    "name": "Custom Finvoice based",
    "enabled": 0,
    "username": null,
    "startDate": "2021-12-01 00:00:00.0",
    "target": null,	
    "fileTemplate": "[InvoiceNumber]",
    "dimensionTemplate": "[ProductGroupId]",
    "language": "EN",
    "includePdf": 1,
    "zipFiles": null,
    "deferredSending": null,
    "reportExports": null,
    "tableExports": null,
    "owner": null,
    "includeElements": null
  },
  {
    "id": 1773,
    "typeId": 40,
    "accountId": 353,
    "resourceType": "expense",
    "name": "Procountor expense",
    "enabled": 0,
    "username": null,
    "startDate": null,
    "target": null,	
    "fileTemplate": null,
    "dimensionTemplate": null,
    "language": null,
    "includePdf": null,
    "zipFiles": null,
    "deferredSending": null,
    "reportExports": null,
    "tableExports": null,
    "owner": null,
    "includeElements": null
  }
]