{ "typeId": 10,
  "resourceType": "invoice",
  "name": "Custom Finvoice based",
  "enabled": 0,
  "username": null,
  "password": null,
  "startDate": "2021-12-01T00:00:00.000+0200",
  "target": null,	
  "fileTemplate": "[InvoiceNumber]",
  "dimensionTemplate": "[ProductGroupId]",
  "language": "EN",
  "includePdf": 1,
  "zipFiles": null,
  "deferredSending": null,
  "reportExports": null,
  "tableExports": null,
  "owner": null,
  "includeElements": null
}