[
  {
    "VATid": "SE556018557001",
    "billingAddress": "BOX 689\r\n136 26 HANINGE\r\nSweden",
    "comment": "Thomas, Hood /11.11.2020 10:08\r\n\r\n\r\nMuutettu alv 0% , Laskutus Ruotsiin \r\nSopimus Valtti-MEGroup - signed (Desktop, Web, Mobile)\r\n\r\n\r\nThomas, Hood / 8/2020\r\n\r\n\r\nLuotu ja muokattu",
    "created": "2021-06-03T15:22:10.983+0300",
    "customer": 2229443,
    "customerName": "DLP Drinks Logistics Partner Ab",
    "delayInterest": 8,
    "delivered": "2021-06-03 15:22:42.777",
    "description": null,
    "dueDate": "2021-06-15T00:00:00.000+0300",
    "id": 62902,
    "invoiceAppendix": 0,
    "invoiceChannel": 4,
    "invoiceCurrency": 1,
    "invoiceDate": "2021-06-01 00:00:00.0",
    "invoiceEmail": "ekonomi@dlp.se",
    "invoiceNetAddress": null,
    "invoiceNetOperator": null,
    "invoiceNumber": 120503,
    "invoiceVAT": 0,
    "invoiceXSL": "planmill_sv_eur.xsl",
    "invoicedAmount": 2129.19,
    "noticeTime": 8,
    "ourReference": "Thomas Hood, +358 50 482 3128",
    "paidAmount": 0,
    "paymentStatus": 5,
    "reference": 11305030,
    "sentToAccounting": "03.06.2021",
    "shippingAddress": "DLP Drinks Logistics Partner Ab\r\nDåntorpsvägen 32\r\nSE-136 50 Jordbro\r\nSweden",
    "showSubTotals": 0,
    "supplier": 353,
    "supplierName": "PlanMill Oy",
    "termsOfPayment": 14,
    "yourReference": "DLP"
  },
  {    
    "VATid": null,
    "billingAddress": "Jaakonkatu 3\r\n01620 Vantaa",
    "comment": null,
    "created": "2021-06-04T13:10:54.647+0300",
    "customer": 1980425,
    "customerName": "Med Group Oy",
    "delayInterest": 8,
    "delivered": "2021-06-04 13:51:31.003",
    "description": null,
    "dueDate": "2021-06-15T00:00:00.000+0300",
    "id": 65785,
    "invoiceAppendix": 0,
    "invoiceChannel": 2,
    "invoiceCurrency": 1,
    "invoiceDate": "2021-06-01 00:00:00.0",
    "invoiceEmail": "",
    "invoiceNetAddress": 3720801200,
    "invoiceNetOperator": "BAWCFI22",
    "invoiceNumber": 120783,
    "invoiceVAT": 24,
    "invoiceXSL": "planmill_fi_eur.xsl",
    "invoicedAmount": 2351.65,
    "noticeTime": 8,
    "ourReference": "Timo Niskanen",
    "paidAmount": 0,
    "paymentStatus": 5,
    "reference": 1058100001202335,
    "sentToAccounting": "04.06.2021",
    "shippingAddress": "",
    "showSubTotals": 0,
    "supplier": 353,
    "supplierName": "Valtti Kumppanit Oy",
    "termsOfPayment": 14,
    "yourReference": null
  }
]