[
  {
    "id": 62902,
    "invoiceId": 62900,
    "invoicePositionId": 62901,
    "vat": 24.0,
    "status": 2,
    "type": 2,
    "amount": 1.0,
    "unitPrice": 65.50,
    "account": 61899, 
    "item": "Consulting service",
    "unit": "h",
    "performer": "Mikko Mallikas",
    "discount": 0.0,
    "task": "Customer visit",
    "revenueType": 1,
    "orderNumber": 61986, 
    "creditInvoicePositionId": null,
    "salesOrderItemId": 61987,
    "costCenter": 2,
    "tasktId": 61988
  },
    {
    "id": 61902,
    "invoiceId": 61900,
    "invoicePositionId": 61901,
    "vat": 24.0,
    "status": 2,
    "type": 2,
    "amount": 4.5,
    "unitPrice": 65.50,
    "account": 61899, 
    "item": "Service desk",
    "unit": "h",
    "performer": "Mikko Mallikas",
    "discount": 0.0,
    "task": "Customer visit",
    "revenueType": 1,
    "orderNumber": 60986, 
    "creditInvoicePositionId": null,
    "salesOrderItemId": 60987,
    "costCenter": 2,
    "tasktId": 61988
  }
]