{
    "reason": {
        "type": "string",
        "caption": "Reason won\/lost",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Reason lost",
        "values": {
            "Not qualified": "7",
            "Installed base": "1",
            "No current project": "5",
            "Lost to competition": "8",
            "Lost to no decision": "9",
            "Price": "2",
            "Relationship": "3",
            "No budget": "6",
            "-": "0",
            "Track record": "4",
            "Other": "10"
        }
    },
    "request": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "subject": {
        "type": "string",
        "caption": "Name",
        "format": "string",
        "maxlength": "255",
        "values": null
    },
    "probability": {
        "type": "string",
        "value": "10",
        "caption": "Probability",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Probability",
        "values": {
            "25%": "25",
            "100%": "100",
            "0%": "0",
            "10%": "10",
            "75%": "75",
            "50%": "50"
        }
    },
    "project": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "description": {
        "type": "string",
        "caption": "",
        "format": "string",
        "description": "",
        "values": null
    },
    "source": {
        "type": "string",
        "caption": "Source",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Source",
        "values": {
            "Event - seminar": "4",
            "Email": "3",
            "Event - trade show": "5",
            "-": "0",
            "Direct mail": "2",
            "Referral - customer": "13",
            "Newspaper & Magazine": "12",
            "Referral - external": "10",
            "List - purchased": "7",
            "List - rented": "8",
            "Advertisement": "1",
            "Referral - employee": "9",
            "Web site": "11",
            "Event - other": "6",
            "Other": "20"
        }
    },
    "priority": {
        "type": "string",
        "value": "2",
        "caption": "Priority",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Priority",
        "values": {
            "High": "3",
            "Low": "1",
            "Medium": "2"
        }
    },
    "type": {
        "type": "string",
        "caption": "Business type",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Business type",
        "values": {
            "New": "0",
            "Existing": "1"
        }
    },
    "stage": {
        "type": "string",
        "value": "10",
        "description": "When changing the sales stage the Probability field is automatically changed to reflect the sales stage.",
        "caption": "Sales stage",
        "format": "int",
        "maxlength": "80",
        "enumeration": "Enumeration values.Sales management.Opportunities.Sales stage probability mapping",
        "values": {
            "25": "25",
            "Closed - lost": "190",
            "Open \/ Closed - won": "170",
            "3. Qualified": "50",
            "2. Validated": "25",
            "1. Identified": "10",
            "4. Quoted": "75",
            "Open": "160",
            "5. Closed": "100",
            "100": "100",
            "Closed - won": "150",
            "50": "50",
            "Suspended": "180",
            "75": "75",
            "10": "10"
        }
    },
    "competitor": {
        "type": "string",
        "caption": "Competitor",
        "format": "int",
        "values": null
    },
    "partnerContact": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "responsible": {
        "type": "string",
        "caption": "Owner",
        "values": {
            "356": "User (update), First",
            "User (update), First": 356
        },
        "format": "int"
    },
    "contact": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "closed": {
        "type": "string",
        "description": "The expected close date for the opportunity.",
        "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
        "caption": "Close date",
        "format": "string",
        "values": null
    },
    "nextStep": {
        "type": "string",
        "caption": "Next step",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Next step",
        "values": {
            "Quote": "5",
            "Call": "7",
            "Follow up": "2",
            "Demo": "1",
            "Qualify": "4",
            "Visit": "3",
            "-": "0",
            "RFP": "6"
        }
    },
    "campaign": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "id": {
        "type": "string",
        "caption": "",
        "format": "int",
        "description": "",
        "values": null
    },
    "status": {
        "type": "string",
        "description": "The status field is used to describe in which state the opportunity is, e.g. Open or Won.",
        "caption": "Status",
        "format": "int",
        "enumeration": "Enumeration values.Sales management.Opportunities.Status filter",
        "values": {
            "Lost": "3",
            "Closed - won": "4",
            "Closed": "3",
            "Won": "2",
            "Closed - lost": "5",
            "Suspended": "2",
            "Open": "1"
        }
    }
}