[
  {
    "country": 73,
    "expectedRevenue": 0,
    "reason": 0,
    "request": null,
    "accountName": "Test Group Ltd.",
    "subject": "Product A for 1000 users",
    "created": "2014-05-05T10:39:21.300+0300",
    "project": null,
    "nextstep": 0,
    "source": 0,
    "type": 0,
    "keyContact": "Andersson, Andy",
    "revenue": 0,
    "stage": 10,
    "partner": null,
    "person": 24715,
    "competitor": null,
    "responsible": "Weather, May",
    "campaign": null,
    "finish": "2013-08-31T00:00:00.000+0300",
    "id": 2834680,
    "account": 441328,
    "status": 0
  },
  {
    "country": 73,
    "expectedRevenue": 958.0381394903238,
    "reason": 0,
    "request": null,
    "accountName": "Test Oy",
    "subject": "Product B for 100 users",
    "created": "2014-01-24T08:23:14.580+0200",
    "project": null,
    "nextstep": 0,
    "source": 0,
    "type": 0,
    "keyContact": "Acme, Andy",
    "revenue": 9580.381394903237,
    "stage": 10,
    "partner": null,
    "person": 598406,
    "competitor": null,
    "responsible": "Bruse, Wayne",
    "campaign": null,
    "finish": "2014-12-31T00:00:00.000+0200",
    "id": 2832894,
    "account": 509013,
    "status": 0
  },
  {
    "country": 73,
    "expectedRevenue": 7513.049239128979,
    "reason": 0,
    "request": null,
    "accountName": "Test Oy",
    "subject": "Product C for 100 users",
    "created": "2013-07-03T17:59:35.437+0300",
    "project": null,
    "nextstep": 0,
    "source": 0,
    "type": 0,
    "keyContact": "Baine, Michael",
    "revenue": 10017.398985505306,
    "stage": 75,
    "partner": null,
    "person": 2827004,
    "competitor": null,
    "responsible": "Bonn, Andreas",
    "campaign": null,
    "finish": "2013-09-19T00:00:00.000+0300",
    "id": 2827006,
    "account": 2827002,
    "status": 0
  }
]