[
  {
    "country": 73,
    "reason": 0,
    "request": null,
    "accountName": "PlanMill Oy",
    "subject": "Product A for 1000 users",
    "nextStep": 0,
    "source": 0,
    "type": 0,
    "keyContact": "PlanMill, Maintenance-user",
    "revenue": 0,
    "partnerContact": null,
    "competitor": null,
    "id": 1530,
    "responsibleName": "User (update), First",
    "expectedRevenue": 0,
    "created": "2022-02-16T15:48:47.207+0200",
    "probability": 0,
    "itemCount": 0,
    "stage": 10,
    "person": 50,
    "closed": "2022-02-17T00:00:00.000+0200",
    "campaign": null,
    "attachmentCount": 0,
    "account": 51,
    "status": 0
  }, 
  {
    "country": 73,
    "reason": 0,
    "request": null,
    "accountName": "Test Oy",
    "subject": "Product B for 100 users",
    "nextStep": 0,
    "source": 0,
    "type": 0,
    "keyContact": "Acme, Andy",
    "revenue": 0,
    "partnerContact": null,
    "competitor": null,
    "id": 1526,
    "responsibleName": "Hood, Thomas",
    "expectedRevenue": 0,
    "created": "2022-02-15T14:23:52.610+0200",
    "probability": 10,
    "itemCount": 0,
    "stage": 10,
    "person": 50,
    "closed": "2022-02-17T00:00:00.000+0200",
    "campaign": 1529,
    "attachmentCount": 1,
    "account": 51,
    "status": 0
  }
]