{
    "invoiceProcess": "2",
    "dutyType": null,
    "minimumAmountToBeSold": null,
    "targetEffort": 0,
    "searchKeywords": "PSA, ERP, Basware",
    "revenueType": 3021,
    "project": null,
    "description": "",
    "validFrom": "2010-01-01T00:00:00.000+0200",
    "operationalId": 952826,
    "competence": null,
    "sellingPrice": 0.7,
    "link1": "",
    "billingType": 1,
    "vendor": 441828,
    "supplier": null,
    "link4": "",
    "relatedToPerson": null,
    "link3": "",
    "id": 959687,
    "link2": "",
    "productType": 1,
    "owner": 26894,
    "salesAccount": 3821,
    "invoicingPeriod": 3,
    "costCenter": null,
    "vat": 24,
    "shortDescription": "",
    "passive": 0,
    "contractPeriod": null,
    "unit": "3",
    "productGroup": 1067064,
    "name": "PlanMill E-Invoice Sender (BW): Verkkolasku (Finvoice)",
    "validUntil": null,
    "comment": "Single contact",
    "selfCost": 0.2,
    "customer": null
}