{
    "invoiceProcess": "1",
    "dutyType": 2,
	"productType": 1,
    "minimumAmountToBeSold": 10,
    "targetEffort": null,
    "searchKeywords": "",
    "revenueType": 2,
    "project": null,
    "description": "<p>Product product</p>",
    "validFrom": "2017-01-01T00:00:00.000+0200",
    "competence": 1,
    "sellingPrice": 1000,
    "warrantyPeriod": "2",
    "link1": "sdfs",
    "operationalId": 299999,
    "billingType": 1,
    "vendor": 2,
    "supplier": 353,
    "link4": "sdf",
    "relatedToPerson": 50,
    "link3": "sdf",
    "link2": "sdf",
    "owner": 356,
    "salesAccount": 2,
    "invoicingPeriod": 2,
    "quantity": 10,
    "costCenter": 3100,
    "vat": 24,
    "shortDescription": "<p>Product Descripton short</p>",
    "publishToStore": "1",
    "passive": 0,
    "contractPeriod": 2,
    "unit": "2",
    "productGroup": 946,
    "name": "API Test product",
    "validUntil": "2018-12-31T00:00:00.000+0200",
    "comment": "<p>Product comment</p>",
    "selfCost": 10.5,
    "customer": 51
}