[
    {
        "minimumAmountToBeSold": null,
        "targetEffort": 0,
        "searchKeywords": "PSA, ERP, Basware",
        "revenueType": 3091,
        "discount": 0,
        "validFrom": "2013-03-01T00:00:00.000+0200",
        "operationalId": 959577,
        "type": 100,
        "competence": null,
        "sellingPrice": 0.2,
        "warrantyPeriod": null,
        "billingType": 1,
        "vendor": 445328,
        "supplier": null,
        "modified": "2021-12-15T09:45:24.047+0200",
        "modifiedBy": 26784,
        "relatedToPerson": null,
        "id": 1667468,
        "productType": 1,
        "owner": 27394,
        "salesAccount": 3521,
        "invoicingPeriod": 3,
        "quantity": null,
        "costCenter": null,
        "created": "2013-05-07T15:58:38.430+0300",
        "vat": 24,
        "publishToStore": 0,
        "passive": 0,
        "unit": 3,
        "task": null,
        "createdBy": 26394,
        "productGroup": 1067064,
        "name": "PlanMill E-Invoice (BW)",
        "validUntil": null,
        "selfCost": 0.04,
        "customer": null
    },
    {
        "minimumAmountToBeSold": null,
        "targetEffort": 0,
        "searchKeywords": "PSA, ERP, Basware",
        "revenueType": 3021,
        "discount": 0,
        "validFrom": "2010-01-01T00:00:00.000+0200",
        "operationalId": 952426,
        "type": 100,
        "competence": null,
        "sellingPrice": 0.7,
        "warrantyPeriod": null,
        "billingType": 1,
        "vendor": 441328,
        "supplier": null,
        "modified": "2021-12-15T09:45:23.843+0200",
        "modifiedBy": 26394,
        "relatedToPerson": null,
        "id": 959567,
        "productType": 1,
        "owner": 26394,
        "salesAccount": 3021,
        "invoicingPeriod": 3,
        "quantity": null,
        "costCenter": null,
        "created": "2010-03-16T23:30:58.000+0200",
        "vat": 24,
        "publishToStore": 0,
        "passive": 0,
        "unit": 3,
        "task": null,
        "createdBy": 26794,
        "productGroup": 1065664,
        "name": "PlanMill E-Invoice (BW)",
        "validUntil": null,
        "selfCost": 0.2,
        "customer": null
    }
]