
[
  {
    "projectManager": 580283,
    "accountName": "BillionMill Inc.",
    "operationalId": "12779",
    "actualRevenue": 9524.192374981776,
    "portfolio": 464553,
    "actualEffort": 0,
    "fixedWorkEffort": null,
    "finish": "2014-06-17T16:30:00.000+0300",
    "totalRevenue": 9327.189999999999,
    "id": 584043,
    "workCompleteness": 0,
    "actualCost": 2379.4532051124797,
    "invoicedRevenue": 7289.69,
    "plannedEffort": 180,
    "invoiceAppendix": -1,
    "start": "2009-09-16T09:00:00.000+0300",
    "remainingEffort": 195,
    "totalEffort": 195,
    "fixedWork": null,
    "totalRemainingEffort": 60,
    "billableStatus": 2,
    "budgetedTotalCost": 0,
    "budgetedPurchase": 0,
    "workCompletenessPercentage": 0,
    "fixedRevenue": null,
    "name": "Project A",
    "category": null,
    "forecastedtotalCost": 2528.2032051124797,
    "account": 558783,
    "status": 3
  },
  {
    "projectManager": null,
    "accountName": "BillionMill Inc",
    "operationalId": "12780",
    "actualRevenue": 10,
    "portfolio": 464553,
    "actualEffort": 0,
    "fixedWorkEffort": null,
    "finish": "2015-03-24T16:30:00.000+0200",
    "totalRevenue": 10,
    "id": 584063,
    "workCompleteness": 0,
    "actualCost": 0,
    "invoicedRevenue": 10,
    "plannedEffort": 0,
    "invoiceAppendix": -1,
    "start": "2009-08-03T09:00:00.000+0300",
    "remainingEffort": 0,
    "totalEffort": 0,
    "fixedWork": null,
    "totalRemainingEffort": -60,
    "billableStatus": 2,
    "budgetedTotalCost": 0,
    "budgetedPurchase": 0,
    "workCompletenessPercentage": 0,
    "fixedRevenue": null,
    "name": "Project B",
    "category": 10,
    "forecastedtotalCost": 90,
    "account": 558783,
    "status": 2
  },
  {
    "projectManager": 557098,
    "accountName": "Good Hood Oy",
    "operationalId": "12783",
    "actualRevenue": 2000,
    "portfolio": 464553,
    "actualEffort": 0,
    "fixedWorkEffort": null,
    "finish": "2014-05-02T16:30:00.000+0300",
    "totalRevenue": 2000,
    "id": 584067,
    "workCompleteness": 0,
    "actualCost": 94.2,
    "invoicedRevenue": 0,
    "plannedEffort": 0,
    "invoiceAppendix": -1,
    "start": "2009-08-01T09:00:00.000+0300",
    "remainingEffort": 0,
    "totalEffort": 0,
    "fixedWork": null,
    "totalRemainingEffort": 0,
    "billableStatus": 2,
    "budgetedTotalCost": 0,
    "budgetedPurchase": 0,
    "workCompletenessPercentage": 0,
    "fixedRevenue": null,
    "name": "Project C",
    "category": null,
    "forecastedtotalCost": 94.2,
    "account": 504828,
    "status": 3
  }
]