{
  "dutyType": 0,       
  "setRequestPerformerAsTeamMember": 0,
  "description": "<p>test description</p>",
  "operationalId": "12779",
  "type": 1,
  "effortUnit": null,
  "requireBillableComment": 0,
  "portfolio": 210,
  "contact": 356,
  "fixedWorkEffort": 2250,
  "currency": 1,
  "id": 584043,
  "invoiceAppendix": -1,
  "invoiceReference": "",
  "autoAcceptTimeReports": 0,
  "fixedWork": 100,
  "billableStatus": 2,
  "budgetedTotalCost": 0,
  "budgetedPurchase": 100,
  "requireCommentForOvertime": 0,
  "fixedRevenue": 1000,
  "autoAssignNewTeamMembers": 0,
  "name": "Test Project A",
  "allowNewTasksAndAssignmentsForAllUsers": 0,
  "category": 30,
  "budgetedExpense": 100,
  "account": 558783,
  "status": 3
}