[
  { "id": 62902,
    "capacityCalendarId": 62901,
    "date": "2024-12-25 00:00:00.0",
    "description": "Christmas Day"
  },
   {
    "id": 62903,
    "capacityCalendarId": 62901,
    "date": "2024-12-26 00:00:00.0",
    "description": "Boxing Day"
  }
]