{
  "filters": [
    {
      "name": "rowcount",
      "caption": "Rows",
      "values": {
        "25": "25",
        "50": "50",
        "75": "75",
        "100": "100",
        "150": "150",
        "250": "250"
      }
    }
  ],
  "fields": {
    "request": {
      "format": null,
      "caption": null
    },
    "senderName": {
      "format": null,
      "caption": null
    },
    "creator": {
      "format": null,
      "caption": null
    },
    "receiver": {
      "format": null,
      "caption": null
    },
    "sender": {
      "format": null,
      "caption": null
    },
    "created": {
      "format": null,
      "caption": null
    },
    "subject": {
      "format": null,
      "caption": null
    },
    "receiverName": {
      "format": null,
      "caption": null
    },
    "creatorName": {
      "format": null,
      "caption": null
    },
    "id": {
      "format": null,
      "caption": null
    }
  }
}