{
  "taskBillableStatus": 2,
  "targetEffort": 180,
  "offDuty": 2040,
  "origin": 1,
  "description": "<p>test description</p>",
  "project": 7362,
  "type": 1,
  "competence": null,
  "notification": null,
  "requestId": 7365,
  "responsible": 3081,
  "contact": 7360,
  "id": 7364,
  "deadline": "2015-08-13T15:14:00.000+0300",
  "unitPrice": 9.5,
  "invoiceReference": "",
  "parentTask": 7363,
  "start": "2015-08-12T15:14:00.000+0300",
  "priceType": null,
  "priority": 3,
  "task": 7372,
  "name": "Test Request",
  "comment": "",
  "projectName": "Test Project A",
  "status": 0
}