{
  "invoiceProcess": 3,
  "generatePriceType": 0,
  "VAT": 24,
  "revenueType": 4,
  "discount": 10,
  "orderStatus": null,
  "description": "<p>test description</p>",
  "validFrom": "2015-09-09T00:00:00.000+0300",
  "operationalId": "",
  "salesorder": 4229,
  "competence": 4263,
  "sellingPrice": 16.67,
  "warrantyPeriod": 360,
  "billingType": 1,
  "contractItem": 4265,
  "product": 2394,
  "salesAccount": 4,
  "quantity": 1,
  "invoicingPeriod": 3,
  "costCenter": null,
  "contractPeriod": 140,
  "unit": 2,
  "task": 4158,
  "person": 2365,
  "name": "Sales order item 1",
  "validUntil": "2017-09-08T00:00:00.000+0300",
  "selfCost": 0
}