{
  "name": "PlanMill PSA Cloud Service",
  "supplierContact": "356",
  "quoteDate": "2022-01-07T00:00:00.000+0200",
  "quoteUntil":  "2022-08-07T00:00:00.000+0200",
  "contact": "356",    
  "orderDate": "2022-01-07T00:00:00.000+0200",
  "languageAndCurrency": "English (EUR)", 
  "CustomerPerson.Name":51,
  "status": 40,
  "termsOfPayment": 14,
  "delayInterest": 8,
  "responsible": 356,
  "operationalId": 1050,
  "billingAccount": 353,
  "accountName": "Your organisation legal trading name (update)",
  "supplierName": "PlanMill Oy",
  "responsibleName": "User (update), First",
  "projectName": "Administrative duties (2)",
  "contractName": null,
  "VAT": "",
  "totalExcludeVAT": null,
  "supplier": 51,
  "invoiceAppendix": -1,
  "created": "2022-01-07T13:35:12.690+0200",    
  "shippingAccountName": null,
  "shippingAccount": null,
  "ourReference": null,
  "type": 10,
  "comment": "Testing",
  "project": null,
  "request": null,
  "reverseCharge": null,
  "invoiceItemSubtotaling": 0,
  "handlingFee": 0,
  "handlingFeeVat": 0,
  "noticeTime": 0,
  "description": "Test"
}

