{
  "request": null,
  "shippingAccount": null,
  "handlingFee": 40,
  "handlingFeeVat": 24,
  "project": 1046,
  "description": "<p>Testing<\/p>",
  "delayInterest": 8,
  "operationalId": 1000,
  "type": 10,
  "billingAccount": 353,
  "ourReference": null,
  "responsible": 356,
  "id": 1541,
  "invoiceItemSubtotaling": 0,
  "noticeTime": 0,
  "quoteDate": "2022-01-07T00:00:00.000+0200",
  "quoteUntil": "2022-08-07T00:00:00.000+0300",
  "yourReference": "",
  "languageAndCurrency": "English (EUR)",
  "contract": null,
  "opportunity": null,
  "reverseCharge": null,
  "name": "Test sales order 2",
  "comment": "Test",
  "orderDate": "2022-01-07T00:00:00.000+0200",
  "supplierContact": 50,
  "termsOfPayment": 14,
  "status": 40
}
