{
  "unitPrice": {
    "type": "string",
    "caption": "Task unit price",
    "format": "double",
    "values": null
  },
  "dutyType": {
    "type": "string",
    "description": "NOTE: Consult PlanMill-support before selecting Absence-duty types",
    "caption": "Duty type",
    "values": {
        "HRM": "2070",
        "Finance": "2060",
        "Office work": "2110",
        "Internal events": "2100",
        "Presales": "2020",
        "Management": "2090",
        "Customer service": "2120",
        "IT": "2050",
        "On call": "2140",
        "Marketing": "2010",
        "0": "-",
        "R&D": "2040",
        "Emergency duty 22.00-06.00": "2135",
        "Education": "2000",
        "Development": "2030",
        "HRD": "2080",
        "Emergency duty < 22.00": "2130",
        "Other": "9999"
    },
    "format": "int",
    "enumeration": "Enumeration values.Task.DutyType"
  },
  "parent": {
    "type": "string",
    "caption": "Parent",
    "values": {
        "1578": "-"
    },
    "format": "int"
  },
  "targetEffort": {
    "type": "string",
    "caption": "Estimated work",
    "format": "double",
    "values": null
  },
  "start": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Start",
    "format": "string",
    "values": null
  },
  "tempFinish": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "",
    "values": null
  },
  "originalFinish": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Finish",
    "format": "string",
    "values": null
  },
  "priceType": {
    "type": "string",
    "caption": "Price type",
    "format": "int",
    "description": "",
    "values": null
  },
  "project": {
    "type": "string",
    "value": "1578",
    "caption": "",
    "format": "int",
    "values": null
  },
  "wbs": {
    "type": "string",
    "caption": "WBS",
    "format": "string",
    "maxlength": "50",
    "values": null
  },
  "description": {
    "type": "string",
    "caption": "",
    "format": "string",
    "values": null
  },
  "finishOld": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "",
    "values": null
  },
  "predecessorTask": {
    "type": "string",
    "caption": "Depends on (Finish to Start)",
    "values": {
        "-1": "-"
    },
    "format": "int"
  },
  "type": {
    "type": "string",
    "value": "100",
    "caption": "Type",
    "format": "int",
    "enumeration": "Enumeration values.Task.Type in form",
    "values": {
        "Task": "100",
        "Milestone": "101"
    }
  },
  "billableStatus": {
    "type": "string",
    "caption": "Billing type",
    "format": "int",
    "enumeration": "Enumeration values.Project.Billable status short",
    "values": {
        "Non-billable": "3",
        "Time based": "2",
        "Fixed": "1"
    }
  },
  "duration": {
    "type": "string",
    "value": "1",
    "values": null
  },
  "actualFinish": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Actual finish",
    "format": "string",
    "values": null
  },
  "originalStart": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Start",
    "format": "string",
    "values": null
  },
  "name": {
    "type": "string",
    "caption": "Name",
    "format": "string",
    "maxlength": "255",
    "values": null
  },
  "finish": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Finish",
    "format": "string",
    "values": null
  },
  "id": {
    "type": "string",
    "caption": "",
    "format": "int",
    "values": null
  },
  "actualStart": {
    "type": "string",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Actual start",
    "format": "string",
    "values": null
  },
  "workCompleteness": {
    "type": "string",
    "values": null
  },
  "status": {
    "type": "string",
    "caption": "Status",
    "format": "int",
    "enumeration": "Enumeration values.Task.Status in form",
    "values": {
        "Manually set status values": "optgroup",
        "100% complete": "160",
        "75% complete": "150",
        "On hold": "100",
        "50% complete": "140",
        "Approved": "120",
        "25% complete": "130",
        "-": "\/optgroup",
        "Progressing": "110"
    }
  }
}