{
  "taskStart": {
    "caption": "",
    "format": "shortdate",
    "values": null
  },
  "proposedDeadline": {
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Proposal deadline",
    "format": "string",
    "description": "",
    "maxlength": "10",
    "values": null
  },
  "personOrTeam": {
    "caption": "Assigned to",
    "values": {
      "Team: Support": "2768",
      "-": "",
      "Poranen, Timo": "2853",
      "Team: R & D Team": "4853"
    },
    "format": "int"
  },
  "actualAmount": {
    "caption": "Accepted",
    "format": "double",
    "values": null
  },
  "totalReported": {
    "caption": "AssignmentReported",
    "format": "double",
    "values": null
  },
  "project": {
    "caption": "",
    "format": "int",
    "values": null
  },
  "proposedAmount": {
    "caption": "Proposed",
    "format": "double",
    "values": null
  },
  "remainingAmount": {
    "caption": "Remain",
    "format": "double",
    "values": null
  },
  "task": {
    "caption": "Task",
    "values": {
      "test task, 01.02.2014 - 16.07.2015": "2863",
      "-": ""
    },
    "format": "int"
  },
  "timereportsAmount": {
    "caption": "Reported",
    "format": "double",
    "values": null
  },
  "comment": {
    "caption": "Proposal hint",
    "description": "",
    "maxlength": "50",
    "values": null
  },
  "plannedAmount": {
    "caption": "Planned",
    "format": "double",
    "values": null
  },
  "taskFinish": {
    "caption": "",
    "values": null
  }
}