{
  "unitPrice": 10,
  "dutyType": 2040,
  "parent": 1046,
  "targetEffort": 120,
  "start": "2021-12-17T09:00:00.000+0200",
  "tempFinish": "2022-01-19T16:30:00.000+0200",
  "originalFinish": "2022-01-19T16:30:00.000+0200",
  "priceType": null,
  "project": 1046,
  "wbs": "",
  "description": "<p>Test description</p>",
  "finishOld": "2022-01-19T16:30:00.000+0200",
  "predecessorTask": null,
  "type": 100,
  "billableStatus": 1,
  "duration":10800,
  "actualFinish":null,
  "originalStart": "2021-12-17T09:00:00.000+0200",
  "name": "Test task",
  "finish": "2022-01-19T16:30:00.000+0200",
  "actualStart":null,
  "workCompleteness":0,
  "status": -1
}