[
  {
    "amount": 1005,
    "billableAmount": 1005,
    "billableStatus": 1,
    "billingComment": "requirements workshop preparation",
    "comment": "testing comment",
    "dutyType": 2030,
    "finish": "2021-07-03T16:47:00.000+0300",
    "id": 1528,
    "invoice": null,
    "modified": "2021-07-05T13:23:54.837+0300",
    "modifiedBy": 356,
    "overtimeAmount": 0,
    "overtimeComment": "urgent bug fix in release",
    "person": 356,
    "project": 1525,
    "start": "2021-07-03T00:07:00.000+0300",
    "status": 1,
    "task": 1526,
    "travelAmount": 0,
    "travelComment": "visit to customer permises for new installation",
    "unitPrice": 0
  },
  {
    "amount": 15,
    "billableAmount": 15,
    "billableStatus": null,
    "billingComment": null,
    "comment": "testing comment",
    "dutyType": null,
    "finish": "2021-07-03T00:15:00.000+0300",
    "id": 1530,
    "invoice": null,
    "modified": "2021-07-02T10:35:03.477+0300",
    "modifiedBy": 356,
    "overtimeAmount": 0,
    "overtimeComment": null,
    "person": 356,
    "project": null,
    "start": "2021-07-03T00:07:00.000+0300",
    "status": 0,
    "task": -1,
    "travelAmount": 0,
    "travelComment": null,
    "unitPrice": 0
  }
]