{
	"hook": "account.update",
	"data": {
		"lineOfBusiness": null,
		"shippingCity": "",
		"businessId": "",
		"vatId": "",
		"invoiceEmail": "",
		"shippingPostalCode": "",
		"type": "8",
		"blog": "",
		"twitter": "",
		"shippingCountry": "0",
		"rfReferenceNumber": "0",
		"invoiceChannel": "-1",
		"billingCountry": "0",
		"id": "1320",
		"invoiceAppendix": "0",
		"supplierAccount": null,
		"billingState": "",
		"serviceLevel": "0",
		"customerSatisfaction": null,
		"autoReplyRequestMails": "0",
		"combineInvoices": "0",
		"reverseCharge": null,
		"phone": "",
		"name": "Your first prospect name (update)",
		"billingReference": "",
		"invoiceTemplate": "",
		"shippingState": "",
		"termsOfPayment": "14",
		"eInvoicingAddress": null,
		"handlingFee": null,
		"invoiceVat": "24",
		"description": "",
		"industry": "-1",
		"parentAccount": null,
		"parentAccountName": null,
		"shippingReference": "",
		"turnover": null,
		"email": "",
		"owner": "50",
		"website": "",
		"facebook": "",
		"staff": null,
		"passive": "0",
		"invoiceNetOperator": null,
		"billingPostalCode": "",
		"shippingAddress": "",
		"billingAddress": "",
		"billingCity": ""
	},
	"personName": "John Smith",
	"eventUser": 50,
	"eventProject": -1,
	"id": 1320
}