[
    {
        "teamName": "First team (update name e.g. your company name)",
        "lastLogin": "2013-11-08T15:37:47.020+0200",
        "lastName": "last name",
        "role": 5,
        "accountName": "Sample account",
        "contractType": 0,
        "skin": 190,
        "title": "",
        "effortUnit": 2,
        "competence": null,
        "id": 356,
        "department": "",
        "email": "firstname.lastname@planmill.com",
        "externalIdentifier": null,
        "lastLogout": "2013-11-08T17:38:43.777+0200",
        "hireDate": "2014-01-01T00:00:00.000+0200",
        "balanceAdjustment": null,
        "teams": 1,
        "photo": null,
        "timeZone": "Europe/Helsinki",
        "team": 1041,
        "userName": "first.user",
        "languageCode": "en",
        "passive": 0,
        "balanceMaximum": null,
        "primaryPhone": "",
        "firstName": "First",
        "calendars": "FI/Full-time: 37,5 h/wk (01.02.2019 - 31.12.2022)",
        "roleName": "Sales",
        "departDate": null,
        "currencyCode": "EUR",
        "account": 353
    },
    {
        "teamName": null,
        "lastLogin": null,
        "lastName": "Elon",
        "role": 4,
        "accountName": "Sample account",
        "contractType": 0,
        "skin": 190,
        "title": "",
        "effortUnit": 2,
        "competence": null,
        "id": 1480,
        "department": "",
        "email": "",
        "externalIdentifier": null,
        "lastLogout": null,
        "hireDate": "2019-03-01T00:00:00.000+0200",
        "balanceAdjustment": null,
        "teams": 0,
        "photo": null,
        "timeZone": "Europe/Helsinki",
        "team": null,
        "userName": "user name",
        "languageCode": "en",
        "passive": 0,
        "balanceMaximum": null,
        "primaryPhone": "",
        "firstName": "",
        "calendars": "FI/Full-time: 37,5 h/wk (01.02.2019 - 31.12.2022)",
        "roleName": "Team",
        "departDate": null,
        "currencyCode": "EUR",
        "account": 353
    }
]