Note:	
	HireDate: required for permanent calendars.
{
  "shippingCity": "Espoo",
  "goalValue": 2250,
  "contractType": 0,
  "language": 2,
  "shippingPostalCode": 3641,
  "blog": "http://www.blog.com",
  "password": null,
  "twitter": "http://www.twitter.com",
  "numberOfTabsShown": 14,
  "shippingCountry": 73,
  "primaryDepartment": "Hämeentie 19",
  "id": 3081,
  "fax": "+358-466-5556951",
  "primaryCountry": 73,
  "bankAccount": "Nordea Suomi",
  "balanceAdjustment": null,
  "goal": 4154,
  "timeZone": "Europe/Helsinki",
  "linkedIn": "http://www.linkedin.com",
  "projectWikiUserGroup": null,
  "paymentTeam": 4150,
  "photoAttachment": null,
  "languageCode": "en",
  "balanceMaximum": 600,
  "firstName": "Adam",
  "competenceLevel": null,
  "mobilePhone": "+358-466-5556951",
  "nationality": 199,
  "shippingState": "",
  "departDate": null,
  "primaryAddress": 52,
  "goalPeriod": 1,
  "lastName": "Tester",
  "primaryState": null,
  "role": 1,
  "primaryPostalCode": 500,
  "shippingAddress": "HR Department",
  "skin": 190,
  "description": "<p>test description</p>",
  "title": "Software Engineer",
  "effortUnit": 2,
  "primaryCity": "Helsinki",
  "competence": null,
  "skype": "skpe_id",
  "externalIdentifier": null,
  "confirmPassword": null,
  "currency": 1,
  "department": "Software Development",
  "enableGroupTabs": 0,
  "BIC": "NDEAFIHH",
  "email": "dam.test@planmill.com",
  "goalType": 1,
  "hireDate": "2014-01-01T00:00:00.000+0200",
  "primaryAddress": null,
  "facebook": "http://www.facebook.com",
  "team": 4150,
  "userName": "dam.test",
  "passive": 0,
  "superior": null,
  "calendars": "60",
  "shippingAddress": "Kuitinkatu 2",
  "workPhone": "+358 10 322 9110",
  "googleTalk": "gtalk_id",
  "shippingDepartment": "First Department",
  "account": 51
}