{
  "quantity": {
    "caption": "Quantity",
    "format": "double",
    "values": null
  },
  "start": {
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Start",
    "format": "string",
    "maxlength": "10",
    "values": null
  },
  "vat": {
    "format": "float",
    "values": null
  },
  "description": {
    "caption": "Description",
    "values": null
  },
  "type": {
    "caption": "Type",
    "values": {
      "1": "Other- VAT 24 %",
      "2": "Advance payment",
      "3": "Accommodation",
      "5": "Other",
      "70": "Taxi",
      "71": "Train",
      "72": "Parking",
      "73": "Air fare",
      "74": "Public transport",
      "80": "Representation",
      "81": "Purchase",
      "82": "Daily allowance - full day, Finland (2007)",
      "83": "Daily allowance - partial day, Finland (2007-2008)",
      "84": "Daily allowance, Sweden (2007)",
      "85": "Daily allowance, Denmark (2007)",
      "86": "Daily allowance, Norway (2007)",
      "87": "Daily allowance, Austria (2007-2008)",
      "89": "Daily allowance, Switzerland (2007-2008)",
      "90": "Daily allowance, UK (2007)",
      "91": "Daily allowance, USA (2009)",
      "92": "Daily allowance, Other",
      "93": "Car usage - private car (2007)",
      "96": "Car usage - company car (2007)",
      "97": "Car usage - passenger (2008)",
      "98": "Motor bike usage (2007)",
      "99": "Meal money (2007)",
      "100": "Daily allowance - full day, Finland (2008)",
      "101": "Daily allowance, Sweden (2008)",
      "102": "Daily allowance, Denmark (2009)",
      "103": "Daily allowance, Norway (2009)",
      "104": "Daily allowance, Germany(2010)",
      "105": "Daily allowance, UK (2009)",
      "106": "Car usage - private car (2008)",
      "107": "Car usage - company car (2008)",
      "108": "Motor bike usage (2008)",
      "109": "Meal money (2008)",
      "110": "Daily allowance, Germany (2007)",
      "112": "Daily allowance - full day, Finland (2009)",
      "113": "Daily allowance - partial day, Finland(2012)",
      "114": "Daily allowance, Sweden (2009)",
      "115": "Daily allowance, Austria (2009)",
      "116": "Daily allowance, Switzerland (2009)",
      "117": "Car usage - private car (2010)",
      "118": "Car usage - company car(2010)",
      "119": "Car usage - passenger",
      "120": "Motor bike usage(2011)",
      "121": "Meal money (2009)",
      "122": "Daily allowance - full day, Finland(2010)",
      "123": "Meal money(2010)",
      "124": "Car usage - limited car benefit(2011)",
      "125": "Daily allowance, Denmark(2012)",
      "126": "Daily allowance, Norway(2011)",
      "127": "Daily allowance, UK(2010)",
      "128": "Daily allowance, Sweden(2010)",
      "129": "Daily allowance, Austria(2010)",
      "130": "Daily allowance, Switzerland(2010)",
      "131": "Daily allowance, USA(2012)",
      "132": "Daily allowance - full day, Finland(2011)",
      "133": "Meal money(2011)",
      "134": "Car usage - private car(2011)",
      "135": "Car usage - company car(2011)",
      "136": "Daily allowance, Sweden(2012)",
      "137": "Daily allowance, Germany(2011)",
      "138": "Daily allowance, Switzerland(2011)",
      "139": "Daily allowance, UK(2012)",
      "140": "Daily allowance, Austria(2011)",
      "141": "Daily allowance, UK London(2013)",
      "143": "Motor bike usage(2012)",
      "144": "Car usage - limited car benefit(2012)",
      "145": "Daily allowance, Norway(2012)",
      "146": "Daily allowance - full day, Finland(2012)",
      "147": "Meal money(2012)",
      "148": "Car usage - private car(2013)",
      "149": "Car usage - company car(2013)",
      "150": "Daily allowance, Germany",
      "151": "Daily allowance, Switzerland(2012)",
      "152": "Daily allowance, Austria",
      "153": "Daily allowance - partial day, Finland(2013)",
      "154": "Daily allowance - full day, Finland(2013)",
      "155": "Daily allowance, Denmark",
      "156": "Daily allowance, Norway(2013)",
      "157": "Daily allowance, Sweden (2014)",
      "158": "Daily allowance, Switzerland (2015)",
      "159": "Daily allowance, UK(2013)",
      "160": "Daily allowance, USA(2013)",
      "161": "Meal money(2013)",
      "162": "Motor bike usage (2015)",
      "163": "Car usage - limited car benefit(2014)",
      "164": "Daily allowance - partial day, Finland (2014)",
      "165": "Daily allowance - full day, Finland (2014)",
      "166": "Car usage - private car (2014)",
      "167": "Meal money (2014)",
      "168": "Daily allowance, Norway (2014)",
      "169": "Daily allowance, UK (2014)",
      "170": "Daily allowance, UK London (2014)",
      "171": "Daily allowance, USA (2014)",
      "172": "Car usage - company car",
      "173": "Daily allowance, Netherlands",
      "174": "Daily allowance, France",
      "175": "Night travel allowance",
      "179": "Daily allowance - partial day, Finland (2015)",
      "180": "Daily allowance - full day, Finland (2015)",
      "181": "Car usage - private car (2015)",
      "182": "Meal money",
      "183": "Daily allowance, Sweden (2015)",
      "184": "Daily allowance, Norway",
      "185": "Daily allowance, UK (2015)",
      "186": "Daily allowance, UK London (2015)",
      "192": "Car usage - limited car benefit (2015)",
      "193": "Daily allowance, USA (2015)",
      "194": "Car usage - company car (2015)",
      "195": "Daily allowance, Other",
      "199": "Daily allowance - partial day, Finland",
      "200": "Daily allowance - full day, Finland",
      "201": "Daily allowance, Switzerland",
      "202": "Motor bike usage",
      "203": "Car usage - private car",
      "204": "Daily allowance, Sweden",
      "205": "Daily allowance, UK",
      "206": "Daily allowance, UK London",
      "207": "Car usage - limited car benefit",
      "208": "Daily allowance, USA",
      "209": "Car usage - company car",
      "325": "Foreign daily allowance",
      "330": "Other- VAT 14 %",
      "340": "Other- VAT 10 %",
      "350": "Own transport",
      "360": "Public transport",
      "370": "Other- VAT 0 %",
      "7000": "Domestic - Train VAT  10%",
      "7005": "Domestic - Representation VAT  0%",
      "7010": "Domestic - Public transport VAT  10%",
      "7015": "Domestic - Air fare VAT  10%",
      "7020": "Domestic - Accommodation’s breakfast VAT  14%",
      "7025": "Domestic - Accommodation VAT  10%",
      "7030": "Domestic - Conference costs VAT  14%",
      "7035": "Domestic - Conference costs VAT  24%",
      "7040": "Domestic - Parking VAT  24%",
      "7045": "Domestic - Taxi VAT  10%",
      "7047": "Domestic - Other cost VAT  0%",
      "7050": "Domestic - Other cost VAT  10%",
      "7055": "Domestic - Other cost VAT  14%",
      "7060": "Domestic - Other cost VAT  24%",
      "7065": "Foreign - Representation  VAT  0%",
      "7070": "Foreign - Air fare VAT  0%",
      "7075": "Foreign - Accommodation VAT  0%",
      "7080": "Foreign - Conference costs (no representation) VAT  0%",
      "7085": "Foreign - Taxi VAT  0%",
      "7090": "Foreign - Public transport VAT  0%",
      "7095": "Foreign - Other cost VAT  0%",
      "7100": "Foreign - Train VAT  0%",
      "7105": "Foreign - Books VAT  0%",
      "7110": "Domestic - Books VAT  10%",
      "7115": "Domestic - Postage VAT  24%",
      "7120": "Domestic - Telecommunications VAT  24%",
      "7125": "Domestic - Office supplies VAT  24%",
      "7130": "Domestic - Foodstuffs VAT  14%",
      "7135": "Domestic - Staff costs VAT  24%",
      "7140": "Domestic - Telecommunications VAT 0%"
    },
    "format": "int"
  },
  "expense": {
    "values": null
  },
  "typeCode": {
    "caption": "TypeCode",
    "format": "string",
    "maxlength": "80",
    "values": null
  },
  "unit": {
    "caption": "Unit",
    "maxlength": "80",
    "values": null
  },
  "exchangeRate": {
    "caption": "Exchange rate",
    "format": "double",
    "description": "",
    "values": null
  },
  "generated": {
    "format": "string",
    "values": null
  },
  "advancePayment": {
    "values": null
  },
  "paymentMethod": {
    "caption": "Payment",
    "enumeration": "Enumeration values.Expense.Expense item payment",
    "values": {
      "Invoice (non-debt)": "4",
      "Own credit card": "3",
      "Advance payment": "5",
      "Company credit card (non-debt)": "2",
      "Company expense (non-debt)": "7",
      "Cash": "1",
      "-": "0"
    }
  },
  "finish": {
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Finish",
    "format": "string",
    "maxlength": "10",
    "values": null
  },
  "currency": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "id": {
    "values": null
  },
  "debt": {
    "values": null
  },
  "currencyCode": {
    "caption": "To",
    "format": "string",
    "description": "",
    "values": null
  },
  "foreignCountryCode": {
    "caption": "ForeignCountryCode",
    "format": "string",
    "maxlength": "2",
    "values": null
  }
}