{
  "invoiceProcess": null,
  "generatePriceType": 0,
  "VAT": 23,
  "revenueType": 7,
  "discount": 0,
  "orderStatus": null,
  "validFrom": "2015-06-24T18:10:00.000+0300",
  "operationalId": null,
  "competence": 2727418,
  "sellingPrice": 800,
  "warrantyPeriod": 7,
  "billingType": 1,
  "id": 2841505,
  "product": 2841500,
  "quantity": 1,
  "invoicingPeriod": 110,
  "costCenter": null,
  "opportunity": 2841498,
  "contractPeriod": 10,
  "unit": 3,
  "task": 2835263,
  "person": 2384531,
  "name": "Test opportunity item",
  "validUntil": "2015-06-25T18:10:00.000+0300",
  "selfCost": 0
}