{
  "reason": {
    "caption": "Reason won/lost",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Reason lost",
    "values": {
      "Not qualified": "7",
      "Installed base": "1",
      "No current project": "5",
      "Lost to competition": "8",
      "Lost to no decision": "9",
      "Price": "2",
      "Relationship": "3",
      "No budget": "6",
      "-": "0",
      "Track record": "4",
      "Other": "10"
    }
  },
  "request": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "subject": {
    "caption": "Name",
    "format": "string",
    "maxlength": "255",
    "values": null
  },
  "probability": {
    "caption": "Probability",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Probability",
    "values": {
      "25%": "25",
      "100%": "100",
      "0%": "0",
      "10%": "10",
      "75%": "75",
      "50%": "50"
    }
  },
  "project": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "description": {
    "caption": "",
    "format": "string",
    "description": "",
    "values": null
  },
  "source": {
    "caption": "Source",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Source",
    "values": {
      "Event - seminar": "4",
      "Email": "3",
      "Event - trade show": "5",
      "-": "0",
      "Direct mail": "2",
      "Referral - customer": "13",
      "Newspaper & Magazine": "12",
      "Referral - external": "10",
      "List - purchased": "7",
      "List - rented": "8",
      "Advertisement": "1",
      "Referral - employee": "9",
      "Web site": "11",
      "Event - other": "6",
      "Other": "20"
    }
  },
  "priority": {
    "caption": "Priority",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Priority",
    "values": {
      "High": "3",
      "Low": "1",
      "Medium": "2"
    }
  },
  "type": {
    "caption": "Business type",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Business type",
    "values": {
      "New": "0",
      "Existing": "1"
    }
  },
  "stage": {
    "description": "The sales stage describes in which stage the opportunity is, e.g. 2. Validated or 5. Closed. When changing the sales stage the Probability-field is automatically changed to reflect the sales stage.",
    "caption": "Sales stage",
    "format": "string",
    "maxlength": "80",
    "enumeration": "Enumeration values.Sales management.Opportunities.Sales stage probability mapping",
    "values": {
      "10": "10",
      "25": "25",
      "50": "50",
      "75": "75",
      "100": "100",
      "5. Closed": "100",
      "3. Qualified": "50",
      "2. Validated": "25",
      "1. Identified": "10",
      "4. Quoted": "75"
    }
  },
  "competitor": {
    "caption": "Competitor",
    "values": {
      "Test Comp Ltd": 501997
    },
    "format": "int"
  },
  "partnerContact": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "responsible": {
    "caption": "Owner",
    "values": {
      "Mill, Will": "2801981",
      "Selleri, Seppo": "2795446",
      "Lowe, Jared": "580283"
    },
    "format": "int"
  },
  "contact": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "nextStep": {
    "caption": "Next step",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Next step",
    "values": {
      "Quote": "5",
      "Call": "7",
      "Follow up": "2",
      "Demo": "1",
      "Qualify": "4",
      "Visit": "3",
      "-": "0",
      "RFP": "6"
    }
  },
  "campaign": {
    "caption": "",
    "format": "int",
    "description": "",
    "values": null
  },
  "finish": {
    "description": "The expected close date for the opportunity.",
    "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
    "caption": "Close date",
    "format": "string",
    "maxlength": "10",
    "values": null
  },
  "status": {
    "description": "The status field is used to describe in which state the opportunity is, e.g. Open or Won.",
    "caption": "Status",
    "format": "int",
    "enumeration": "Enumeration values.Sales management.Opportunities.Status filter",
    "values": {
      "Lost": "3",
      "Closed - won": "4",
      "Closed": "3",
      "Won": "2",
      "Closed - lost": "5",
      "Suspended": "2",
      "Open": "1"
    }
  }
}