{
  "filters": [
    {
      "name": "freetextsearch",
      "caption": ""
    },
    {
      "name": "viewtemplate",
      "caption": "View by",
      "values": {
        "All opportunities": "9",
        "All won opportunities": "12",
        "All closed opportunities": "14",
        "My recently created opportunities - last 14 days": "6",
        "My open opportunities": "0",
        "My recently created opportunities - last 30 days": "7",
        "All recently created opportunities - last 14 days": "16",
        "My closed opportunities": "4",
        "My lost opportunities": "3",
        "My recently created opportunities - last 7 days": "5",
        "All recently created opportunities - last 30 days": "17",
        "My suspended opportunities": "1",
        "All open opportunities": "10",
        "My won opportunities": "2",
        "All suspended opportunities": "11",
        "All recently created opportunities - last 7 days": "15",
        "My recently modified opportunities - last 7 days": "8",
        "All lost opportunities": "13",
        "All recently modified opportunities - last 7 days": "18"
      }
    },
    {
      "name": "responsible",
      "caption": "Owner",
      "values": {
        "All": "-1",
        "Mill, Will": "2801981",
        "Selleri, Seppo": "2795446",
        "Lowe, Jared": "580283"
      }
    },
    {
      "name": "stage",
      "caption": "Stage",
      "values": {
        "All": "-1",
        "5. Closed": "100",
        "3. Qualified": "50",
        "1. Identified": "10",
        "2. Validated": "25",
        "4. Quoted": "75"
      }
    },
    {
      "name": "country",
      "caption": "Country",
      "values": {
        "All": "-1",
        "Austria": "15",
        "United States": "220",
        "Finland": "73",
        "France": "74",
        "Switzerland": "200",
        "Germany": "80"
      }
    },
    {
      "name": "campaign",
      "caption": "Campaign",
      "values": {
        "All": "-1"
      }
    },
    {
      "name": "account",
      "caption": "Account",
      "values": {
        "All": "-1",
        "BillionMill Inc.": "558783",
        "Testi Oy": "2803729"
      }
    },
    {
      "name": "type",
      "caption": "Business type",
      "values": {
        "All": "-1",
        "New": "0",
        "Existing": "1"
      }
    },
    {
      "name": "competitor",
      "caption": "Competitor",
      "values": {
        "All": "-1",
        "TsillionMill Inc.": "501997"
      }
    },
    {
      "name": "partner",
      "caption": "Partner",
      "values": {
        "All": "-1",
        "All partner related": "-2",
        "No partner related": "-3",
        "Test Group Ltd.": "441328",
        "Good Hood Oy": "504828"
      }
    },
    {
      "name": "product",
      "caption": "Product",
      "values": {
        "All": "-1",
        "Fixed project": "2704411",
        "Support": "2781425",
        "Flower 3": "2827880",
        "PlanMill PROJECT Cloud": "594836",
        "Professional Services": "2818483"
      }
    },
    {
      "name": "source",
      "caption": "Source",
      "values": {
        "All": "-1",
        "Event - seminar": "4",
        "Email": "3",
        "Event - trade show": "5",
        "-": "0",
        "Direct mail": "2",
        "Referral - customer": "13",
        "Newspaper & Magazine": "12",
        "Referral - external": "10",
        "List - purchased": "7",
        "List - rented": "8",
        "Advertisement": "1",
        "Referral - employee": "9",
        "Web site": "11",
        "Event - other": "6",
        "Other": "20"
      }
    },
    {
      "name": "interval",
      "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
      "values": {
        "Modified": "modified",
        "Close date": "finish",
        "Created": "created"
      }
    },
    {
      "name": "rowcount",
      "caption": "Rows",
      "values": {
        "25": "25",
        "50": "50",
        "75": "75",
        "100": "100",
        "150": "150",
        "250": "250"
      }
    },
    {
      "name": "portfolio",
      "caption": "Salkku",
      "values": {
        "All": "-1",
        "E. New customer portfolio \\ New Customers (Finland)": "464595",
        "E. New customer portfolio": "464559",
        "D. Administrative portfolio": "464557",
        "G. DefaultFolder": "464561",
        "Test portfolio": "2705592"
      }
    }
  ],
  "fields": {
    "country": {
      "format": "Enumeration values.Location.CountryId",
      "caption": "Country"
    },
    "expectedRevenue": {
      "format": "currency",
      "caption": "Expected"
    },
    "reason": {
      "format": "Enumeration values.Sales management.Opportunities.Reason lost",
      "caption": "Reason won/lost"
    },
    "request": {
      "format": "text",
      "caption": "Request.Id"
    },
    "accountName": {
      "format": "text",
      "caption": "Account"
    },
    "subject": {
      "format": "text",
      "caption": "_Name"
    },
    "created": {
      "format": "mediumdate",
      "caption": "Created"
    },
    "project": {
      "format": "text",
      "caption": "PMVProject.Id"
    },
    "nextstep": {
      "format": "Enumeration values.Sales management.Opportunities.Next step",
      "caption": "Next step"
    },
    "source": {
      "format": "Enumeration values.Sales management.Opportunities.Source",
      "caption": "Source"
    },
    "type": {
      "format": "Enumeration values.Sales management.Opportunities.Business type",
      "caption": "Business type"
    },
    "keyContact": {
      "format": "text",
      "caption": "Key contact"
    },
    "revenue": {
      "format": "currency",
      "caption": "Total sales (VAT 0%)"
    },
    "stage": {
      "format": "Enumeration values.Sales management.Opportunities.Sales stage",
      "caption": "Stage"
    },
    "partner": {
      "format": "text",
      "caption": "Partner.Id"
    },
    "person": {
      "format": "text",
      "caption": "Person.Id"
    },
    "competitor": {
      "format": "text",
      "caption": "CompetitorAccount.Id"
    },
    "responsible": {
      "format": "text",
      "caption": "Owner"
    },
    "campaign": {
      "format": "text",
      "caption": "Opportunity.CampaignId"
    },
    "finish": {
      "format": "shortdate",
      "caption": "Close date"
    },
    "id": {
      "format": "checkbox",
      "caption": "_"
    },
    "account": {
      "format": "text",
      "caption": "Account.Id"
    },
    "status": {
      "format": "Enumeration values.Sales management.Opportunities.Status",
      "caption": "Status"
    }
  }
}