{
    "filters": [
        {
            "name": "searchkey",
            "caption": ""
        },
        {
            "name": "viewby",
            "caption": "View by",
            "values": {
                "150": "All not completed milestones",
                "140": "All not completed requests",
                "130": "All not completed tasks",
                "120": "All not completed tasks & requests",
                "0": "All tasks",
                "110": "All completed requests",
                "100": "All completed tasks & requests",
                "6": "All tasks in progress - late",
                "50": "All recently completed tasks - last month",
                "40": "All recently completed tasks - this month",
                "30": "All recently created tasks - last month",
                "20": "All recently created tasks - this month",
                "10": "My tasks"
            }
        },
        {
            "name": "viewby2",
            "caption": "Type",
            "values": {
                "0": "All",
                "25": "Tasks & milestones",
                "30": "Requests",
                "20": "Milestones",
                "10": "Tasks"
            }
        },
        {
            "name": "Task.Status",
            "caption": "Status",
            "values": {
                "-1": "All"
            }
        },
        {
            "name": "billableStatus",
            "caption": "Billing type",
            "values": {
                "1": "Fixed",
                "2": "Time based",
                "3": "Non-billable",
                "-1": "All"
            }
        },
        {
            "name": "Assignment.PersonId",
            "caption": "Performer",
            "values": {
                "-1": "All"
            }
        },
        {
            "name": "Team.Id",
            "caption": "Team",
            "values": {
                "-1": "All"
            }
        },
        {
            "name": "parent",
            "caption": "Parent",
            "values": {
                "-1": "All"
            }
        },
        {
            "name": "Baseline.Id",
            "caption": "Baseline",
            "values": {
                "-1": "-"
            }
        },
        {
            "name": "interval",
            "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
            "values": {
                "Task.Modified": "Modified",
                "Task.Start": "Start",
                "Task.Created": "Created",
                "Task.Finish": "Finish"
            }
        },
        {
            "name": "CreatedPerson.Id",
            "caption": "Created by",
            "values": {
                "0": "System,",
                "1018": "Verdezoto, Ivan",
                "-1": "All",
                "1377": "User, auth.person",
                "50": "PlanMill, Maintenance-user"
            }
        }
    ],
    "fields": {
        "unitPrice": {
            "format": "projectcurrency",
            "caption": "Unit price"
        },
        "dutyType": {
            "format": "Enumeration values.Task.Offduty",
            "caption": "Duty type"
        },
        "targetEffort": {
            "format": "projecteffortunit",
            "caption": "Estimated"
        },
        "plannedEffort": {
            "format": "projecteffortunit",
            "caption": "Planned"
        },
        "created": {
            "format": "mediumdate",
            "caption": "Created"
        },
        "start": {
            "format": "shortdate",
            "caption": "Start"
        },
        "wbs": {
            "format": "text",
            "caption": "WBS"
        },
        "remainingEffort": {
            "format": "projecteffortunit",
            "caption": "Remain"
        },
        "totalEffort": {
            "format": "projecteffortunit",
            "caption": "Forecast"
        },
        "totalRemainingEffort": {
            "format": "projecteffortunit",
            "caption": "Total remain"
        },
        "type": {
            "format": "Enumeration values.Task.Type",
            "caption": "Type"
        },
        "billableStatus": {
            "format": "Enumeration values.Project.Billable status",
            "caption": "Billing type"
        },
        "duration": {
            "format": "day",
            "caption": "Duration"
        },
        "actualEffort": {
            "format": "projecteffortunit",
            "caption": "Accepted"
        },
        "name": {
            "format": "text",
            "caption": "Task"
        },
        "modified": {
            "format": "mediumdate",
            "caption": "Modified"
        },
        "finish": {
            "format": "shortdate",
            "caption": "Finish"
        },
        "id": {
            "format": "text",
            "caption": "Task.Id"
        },
        "workCompleteness": {
            "format": "percent",
            "caption": "Completeness"
        },
        "status": {
            "format": "Enumeration values.Task.Status",
            "caption": null
        }
    }
}