[
  {
    "totalEffort": 0,
    "status": "",
    "workCompleteness": 0,
    "unitPrice": null,
    "type": 1,
    "modified": "2012-05-02T14:57:24.873+0300",
    "id": 584063,
    "finish": "2009-12-31T16:30:00.000+0200",
    "duration": 49050,
    "remainingEffort": 0,
    "wbs": "",
    "plannedEffort": 0,
    "created": "2009-09-16T13:16:15.373+0300",
    "start": "2009-08-03T09:00:00.000+0300",
    "actualEffort": 0,
    "dutyType": 0,
    "name": "Test Task 1",
    "totalRemainingEffort": null,
    "billableStatus": 2,
    "targetEffort": 120
  },
  {
    "totalEffort": 0,
    "status": "3. In progress",
    "workCompleteness": 0,
    "unitPrice": null,
    "type": 100,
    "modified": "2011-03-18T14:18:38.060+0200",
    "id": 584080,
    "finish": "2009-12-31T16:30:00.000+0200",
    "duration": 49050,
    "remainingEffort": 0,
    "wbs": "",
    "plannedEffort": 0,
    "created": "2009-09-16T13:56:48.650+0300",
    "start": "2009-08-03T09:00:00.000+0300",
    "actualEffort": 0,
    "dutyType": 0,
    "name": "test Task 2",
    "totalRemainingEffort": null,
    "billableStatus": 2,
    "targetEffort": 120
  }
]