{
  "filters": [
    {
      "name": "searchkey",
      "caption": ""
    },
    {
      "name": "viewby",
      "caption": "View by",
      "values": {
        "My active contacts": "0",
        "All recently created contacts - last 7 days": "10",
        "My active contacts - prospects": "2",
        "All active contacts": "6",
        "My inactive contacts": "3",
        "All recently modified contacts - last 7 days": "11",
        "My active contacts - customers": "1",
        "All active contacts - customers": "7",
        "My recently created contacts - last 7 days": "4",
        "All active contacts - prospects": "8",
        "My recently modified contacts - last 7 days": "5",
        "All inactive contacts": "9"
      }
    },
    {
      "name": "Account.ResponsibleId",
      "caption": "Owner",
      "values": {
        "All": "-1",
        "ContactLastName, ContactFirstName": "6598",
        "Mikkonen, Juha": "9743"
      }
    },
    {
      "name": "accountType",
      "caption": "Account type",
      "values": {
        "All": "-1",
        "Competitor": "2",
        "My company - other": "110",
        "Customer": "3",
        "Reseller": "9",
        "Vendor": "11",
        "-": "0",
        "Analyst": "1",
        "My company": "100",
        "Subcontractor": "12",
        "Prospect": "8",
        "Investor": "5",
        "Partner": "6",
        "Press": "7"
      }
    },
    {
      "name": "primaryCountry",
      "caption": "Country",
      "values": {
        "All": "-1",
        "Korea, Democratic People?s Republic of (North Korea)": "112",
        "Romania": "174",
        "United States": "220",
        "Christmas Island": "259",
        "-": "0",
        "Mauritius": "135",
        "Switzerland": "200",
        "Canada": "39",
        "Austria": "15",
        "Monaco": "140",
        "Norway": "160",
        "Luxembourg": "123",
        "Finland": "73",
        "Denmark": "58",
        "France": "74",
        "Germany": "80",
        "Estonia": "68"
      }
    },
    {
      "name": "primaryCity",
      "caption": "City",
      "values": {
        "28100": "28100",
        "": "",
        "Oulunsalo": "Oulunsalo",
        "Eläketurvakeskus": "Eläketurvakeskus",
        "Schlieren": "Schlieren",
        "Korntal-Münchingen": "Korntal-Münchingen",
        "Fujitsu": "Fujitsu",
        "Ebersbach/Fils": "Ebersbach/Fils",
        "Porvoo": "Porvoo",
        "Zürich": "Zürich",
        "St. Gallen": "St. Gallen",
        "Vammala": "Vammala",
        "Inkoo": "Inkoo",
        "Munich": "Munich",
        "Hämeenlinna": "Hämeenlinna",
        "Oulu": "Oulu",
        "Rovaniemi": "Rovaniemi",
        "Tampere": "Tampere",
        "Vaasa": "Vaasa",
        "Solothurn": "Solothurn",
        "Järvenpää": "Järvenpää",
        "Lempäälä": "Lempäälä",
        "Wien": "Wien",
        "Kokkola": "Kokkola",
        "SONG": "SONG",
        "Toronto": "Toronto",
        "Tikkakoski": "Tikkakoski",
        "Uster": "Uster",
        "Villingen-Schwenningen": "Villingen-Schwenningen",
        "Eläke-Fennia": "Eläke-Fennia",
        "Korvatunturi": "Korvatunturi",
        "Basel": "Basel",
        "Kerava": "Kerava",
        "weuyweyu": "weuyweyu",
        "Salo": "Salo",
        "VTT": "VTT",
        "Helsinki": "Helsinki",
        "Iltasmäki": "Iltasmäki",
        "Lappeenranta": "Lappeenranta",
        "Hannover": "Hannover",
        "Ingolstadt": "Ingolstadt",
        "Kajaani": "Kajaani",
        "Tapiola": "Tapiola",
        "Lahti": "Lahti",
        "Schinznach Bad": "Schinznach Bad",
        "Seinäjoki": "Seinäjoki",
        "St.Gallen": "St.Gallen",
        "Forssa": "Forssa",
        "Vaajakoski": "Vaajakoski",
        "Joensuu": "Joensuu",
        "Lohja": "Lohja",
        "All": "-1",
        "Baden": "Baden",
        "Riihimäki": "Riihimäki",
        "Kaustinen": "Kaustinen",
        "Savonlinna": "Savonlinna",
        "Oberhaching": "Oberhaching",
        "Iso-Vimma": "Iso-Vimma",
        "Luxembourg": "Luxembourg",
        "Leverkusen": "Leverkusen",
        "FINLAND": "FINLAND",
        "Oslo": "Oslo",
        "Nivala": "Nivala",
        "New York city": "New York city",
        "Port Louis": "Port Louis",
        "Pori": "Pori",
        "LASKUTUS": "LASKUTUS",
        "Noormarkku": "Noormarkku",
        "Urdorf": "Urdorf",
        "Weinfelden": "Weinfelden",
        "Mountain View": "Mountain View",
        "Espoo": "Espoo",
        "Nordea": "Nordea",
        "Stuttgart": "Stuttgart",
        "Turku": "Turku",
        "Ilmarinen": "Ilmarinen",
        "copenhaagen": "copenhaagen",
        "00380": "00380",
        "Valtiokonttori": "Valtiokonttori",
        "Monte Carlo": "Monte Carlo",
        "Paderborn": "Paderborn",
        "Vienna": "Vienna",
        "Hyvinkää": "Hyvinkää",
        "Pyongyang": "Pyongyang",
        "Raahe": "Raahe",
        "Helsinki City": "Helsinki City",
        "Petersberg": "Petersberg",
        "HUS": "HUS",
        "Epsoo": "Epsoo",
        "Raisio": "Raisio",
        "Miami": "Miami",
        "San Francisco": "San Francisco",
        "Davos": "Davos",
        "Jyväskylä": "Jyväskylä",
        "Kuopio": "Kuopio",
        "Rellingen": "Rellingen",
        "Bonn": "Bonn",
        "Jyskä": "Jyskä",
        "Vantaa": "Vantaa",
        "Paris": "Paris"
      }
    },
    {
      "name": "account",
      "caption": "Account",
      "values": {
        "PlanMill Oy": "2843"
      }
    },
    {
      "name": "primaryPostalCode",
      "caption": "Postal/Zip code",
      "values": {
        "00120, Helsinki": "00120",
        "34534, Helsinki City": "34534",
        "D-82041, Oberhaching": "D-82041",
        "00880, Helsinki": "00880",
        "00580, Helsinki": "00580",
        "1220, Vienna": "1220",
        "01600, Vantaa": "01600",
        "FIN-00021, LASKUTUS": "FIN-00021",
        "70825, Korntal-Münchingen": "70825",
        "90220, Oulu": "90220",
        "27821, Iso-Vimma": "27821",
        "00620, Helsinki": "00620",
        "15300, Lahti": "15300",
        "00381, Helsinki": "00381",
        "00181, Helsinki": "00181",
        "33100, Tampere": "33100",
        "08100, Lohja": "08100",
        "02610, Espoo": "02610",
        "00121, Helsinki": "00121",
        "00041, Eläke-Fennia": "00041",
        "FIN-00500, Helsinki": "FIN-00500",
        "70178, Stuttgart": "70178",
        "02601, Espoo": "02601",
        "01641, Vantaa": "01641",
        "0167, Oslo": "0167",
        "12312313, Helsinki": "12312313",
        "00521, Helsinki": "00521",
        "7270, Davos": "7270",
        "92101, Raahe": "92101",
        "02101, Espoo": "02101",
        "00511, Helsinki": "00511",
        "57100, Savonlinna": "57100",
        "01511, Vantaa": "01511",
        "00020, Nordea": "00020",
        "02631/PL 140, Espoo": "02631/PL 140",
        "00380, 00380": "00380",
        "04250, Kerava": "04250",
        "82041, Oberhaching": "82041",
        "10210, Inkoo": "10210",
        "94118, San Francisco": "94118",
        "02151, Espoo": "02151",
        "02170, Espoo": "02170",
        "70565, Stuttgart": "70565",
        "00270, Helsinki": "00270",
        "78048, Villingen-Schwenningen": "78048",
        "1020, Wien": "1020",
        "20100, Turku": "20100",
        "8032, Zürich": "8032",
        "04400, Järvenpää": "04400",
        "4002, Basel": "4002",
        "00180, Helsinki": "00180",
        "00280, Helsinki": "00280",
        "04420, Järvenpää": "04420",
        "40500, Jyväskylä": "40500",
        "01300, Vantaa": "01300",
        "40100, Vaajakoski": "40100",
        "02015 HUT, Espoo": "02015 HUT",
        "00380, Helsinki": "00380",
        "01621, Vantaa": "01621",
        "70173, Stuttgart": "70173",
        "00101, Helsinki": "00101",
        "29600, Noormarkku": "29600",
        "1115, Luxembourg": "1115",
        "8610, Uster": "8610",
        "90011, Miami": "90011",
        "33210, Tampere": "33210",
        "02160, Espoo": "02160",
        "06101, Porvoo": "06101",
        "85045, Ingolstadt": "85045",
        "40014, Jyväskylä": "40014",
        "96301, Rovaniemi": "96301",
        "80100, Joensuu": "80100",
        "30100, Forssa": "30100",
        "CH-9000, St. Gallen": "CH-9000",
        "00054, Valtiokonttori": "00054",
        "30175, Hannover": "30175",
        "4005, Basel": "4005",
        "33200, Tampere": "33200",
        "1032, Vienna": "1032",
        "65100, Vaasa": "65100",
        "01620, Vantaa": "01620",
        "70500, Kuopio": "70500",
        "1020, Vienna": "1020",
        "02200, Espoo": "02200",
        "02650, Espoo": "02650",
        "06150, Porvoo": "06150",
        "33521, Tampere": "33521",
        "00510, Vantaa": "00510",
        "36100, Petersberg": "36100",
        "9014, St.Gallen": "9014",
        "38201, Vammala": "38201",
        "01310, Vantaa": "01310",
        "02631, Espoo": "02631",
        "00810, Helsinki": "00810",
        "02781, Espoo": "02781",
        "00500, Helsinki": "00500",
        "11710, Riihimäki": "11710",
        "51369, Leverkusen": "51369",
        "96301 Rovaniemi,": "96301 Rovaniemi",
        "00100, Helsinki": "00100",
        "00700, Helsinki": "00700",
        "02630 ESPOO, FINLAND": "02630 ESPOO",
        "00065, Eläketurvakeskus": "00065",
        "00161, Helsinki": "00161",
        "00940, SONG": "00940",
        "00210, Helsinki": "00210",
        "00023, Helsinki": "00023",
        "53100, Lappeenranta": "53100",
        "02600, Helsinki": "02600",
        "8005, Zürich": "8005",
        "00650, Helsinki": "00650",
        "70210, Kuopio": "70210",
        "25462, Rellingen": "25462",
        "8570, Weinfelden": "8570",
        "70101, Kuopio": "70101",
        "15110, Lahti": "15110",
        "00350, Helsinki": "00350",
        "01510, Vantaa": "01510",
        "123123, weuyweyu": "123123",
        "28600, PORI": "28600",
        "123123, copenhaagen": "123123",
        "36640, Iltasmäki": "36640",
        "08101, Lohja": "08101",
        "01610, Vantaa": "01610",
        "01380, Vantaa": "01380",
        "1029, Vienna": "1029",
        "02730, Helsinki": "02730",
        "20101, Turku": "20101",
        "33840, Tampere": "33840",
        "90460 , Oulunsalo": "90460",
        "96100, Rovaniemi": "96100",
        "20520, Turku": "20520",
        "00150, Helsinki": "00150",
        "87500, Kajaani": "87500",
        "00941 , Helsinki": "00941",
        "13111, Hämeenlinna": "13111",
        "33100, Helsinki": "33100",
        "999999, Korvatunturi": "999999",
        "FIN-01510, Vantaa": "FIN-01510",
        "40501, Jyväskylä": "40501",
        "8952, Schlieren": "8952",
        "70000, Stuttgart": "70000",
        "33101, Tampere": "33101",
        "01740, Vantaa": "01740",
        "67100, Kokkola": "67100",
        "01451, Vantaa": "01451",
        "02130, Espoo": "02130",
        "00029, HUS": "00029",
        "24280, Salo": "24280",
        "00260, Helsinki": "00260",
        "90100, Oulu": "90100",
        "00160, Helsinki": "00160",
        "00560, Helsinki": "00560",
        "33900, Tampere": "33900",
        "15140, Lahti": "15140",
        "M5H 2L3, Toronto": "M5H 2L3",
        "02630, Espoo": "02630",
        "30501, New York city": "30501",
        "80686, Munich": "80686",
        "40420, Jyskä": "40420",
        "70110, Kuopio": "70110",
        "70460, Kuopio": "70460",
        "02600, Espoo": "02600",
        "1001, Zürich": "1001",
        "37501, Lempäälä": "37501",
        "70567, Stuttgart": "70567",
        "02100, Espoo": "02100",
        "02380, Espoo": "02380",
        "All": "-1",
        "00261, Espoo": "00261",
        "5116, Schinznach Bad": "5116",
        "28100, Pori": "28100",
        "00401, Helsinki": "00401",
        "00131, Helsinki": "00131",
        "00331, Helsinki": "00331",
        "33100, Paderborn": "33100",
        "02150 , Espoo": "02150",
        "40100, Jyväskylä": "40100",
        "001010, Helsinki": "001010",
        "8902, Urdorf": "8902",
        "143143, Helsinki": "143143",
        "00018, Ilmarinen": "00018",
        "CH-4502, Solothurn": "CH-4502",
        "33500, Tampere": "33500",
        "00012, Fujitsu": "00012",
        "13100, Hämeenlinna": "13100",
        "00530, Helsinki": "00530",
        "00330, Helsinki": "00330",
        "33720, Tampere": "33720",
        "94041, Mountain View": "94041",
        "96300, Rovaniemi": "96300",
        "00240, Helsinki": "00240",
        "69601, Kaustinen": "69601",
        "00440, Helsinki": "00440",
        "20540, Turku": "20540",
        "02240, Espoo": "02240",
        "00510, Helsinki": "00510",
        "12345, Pyongyang": "12345",
        "32432, Tampere": "32432",
        "00094, Helsinki": "00094",
        "5400, Baden": "5400",
        "00130, Helsinki": "00130",
        "00441, Helsinki": "00441",
        "33230, Tampere": "33230",
        "02150, Espoo": "02150",
        "02010, Tapiola": "02010",
        "73061, Ebersbach/Fils": "73061",
        "01640, Vantaa": "01640",
        "02044, VTT": "02044",
        "00200, Helsinki": "00200",
        "60100, Seinäjoki": "60100",
        "21200, Raisio": "21200",
        "00151, Helsinki": "00151",
        "41161, Tikkakoski": "41161",
        "00800, Helsinki": "00800",
        "60120, Seinäjoki": "60120",
        "02150, Epsoo": "02150",
        "13130, Hämeenlinna": "13130",
        "85500, Nivala": "85500",
        "02360, Espoo": "02360",
        "CITY,": "CITY",
        "1550, Paris": "1550",
        "05800, Hyvinkää": "05800",
        "00400, Helsinki": "00400",
        "90570, Oulu": "90570"
      }
    },
    {
      "name": "CampaignHasPerson.CampaignId",
      "caption": "Campaigns",
      "values": {
        "All": "-1",
        "Christmas cards (Active)": "501942",
        "Email newsletter 2009 (Active)": "571707",
        "Testing campaign copying (Planning)": "2771099"
      }
    },
    {
      "name": "interval",
      "calendar": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
      "values": {
        "Modified": "modified",
        "Created": "created"
      }
    },
    {
      "name": "rowcount",
      "caption": "Rows",
      "values": {
        "25": "25",
        "50": "50",
        "75": "75",
        "100": "100",
        "150": "150",
        "250": "250"
      }
    },
    {
      "name": "Account.Industry",
      "caption": "Account Industry",
      "values": {
        "All": "-1",
        "A Agric and Forestry": "100000",
        "73 Adv&Marketing": "73",
        "J ICT": "100900",
        "61 Telecommunication": "61",
        "6209 Other IT services": "6209",
        "C Manufacturing": "100200",
        "71 Architecture&Eng": "71",
        "O Public administr.": "101400",
        "M Prof. services": "101200",
        "59 Movies & sound pr.": "59",
        "K Finance&Insurance": "101000",
        "6202 IT Consulting": "6202",
        "62 Software&IT serv": "62",
        "6201 Programming": "6201",
        "X Industry unknown": "102100",
        "60 Broadcasting": "60",
        "70 Mgmt consultancy": "70"
      }
    }
  ],
  "fields": {
    "lastName": {
      "format": "text",
      "caption": "_Name"
    },
    "secondaryAddress": {
      "format": "text",
      "caption": "Secondary street address"
    },
    "primaryPostalCode": {
      "format": "text",
      "caption": "Postal/Zip code"
    },
    "accountName": {
      "format": "text",
      "caption": "Account"
    },
    "title": {
      "format": "text",
      "caption": "Title"
    },
    "primaryCity": {
      "format": "text",
      "caption": "City"
    },
    "invoiceXsl": {
      "format": "text",
      "caption": "Account.InvoiceXSL"
    },
    "secondaryPostalCode": {
      "format": "text",
      "caption": "Secondary postal/Zip code"
    },
    "skype": {
      "format": "weblink",
      "caption": "Skype"
    },
    "secondaryCity": {
      "format": "text",
      "caption": "Secondary city"
    },
    "modified": {
      "format": "mediumdate",
      "caption": "Modified"
    },
    "modifiedBy": {
      "format": "text",
      "caption": "Modified by"
    },
    "id": {
      "format": "text",
      "caption": "Person.Id"
    },
    "department": {
      "format": "text",
      "caption": "Department"
    },
    "fax": {
      "format": "text",
      "caption": "Fax"
    },
    "primaryCountry": {
      "format": "Enumeration values.Location.CountryId",
      "caption": "Country"
    },
    "email": {
      "format": "emaillink",
      "caption": "Email"
    },
    "secondaryCountry": {
      "format": "Enumeration values.Location.CountryId",
      "caption": "Secondary country"
    },
    "website": {
      "format": "weblink",
      "caption": "Website"
    },
    "created": {
      "format": "mediumdate",
      "caption": "Created"
    },
    "accountType": {
      "format": "Enumeration values.Sales management.Accounts.Type",
      "caption": "Account type"
    },
    "linkedIn": {
      "format": "linkedin",
      "caption": "fileicon(linkedin)"
    },
    "languageCode": {
      "format": "Enumeration values.Sales management.Contacts.Language",
      "caption": "Language"
    },
    "passive": {
      "format": "Enumeration values.Sales management.Contacts.Status",
      "caption": "Status"
    },
    "primaryPhone": {
      "format": "text",
      "caption": "Primary phone"
    },
    "mobilePhone": {
      "format": "text",
      "caption": "Mobile phone"
    },
    "createdBy": {
      "format": "text",
      "caption": "Created by"
    },
    "workPhone": {
      "format": "text",
      "caption": "Work phone"
    },
    "googleTalk": {
      "format": "weblink",
      "caption": "Google Talk"
    },
    "primaryAddress": {
      "format": "text",
      "caption": "Street address"
    },
    "account": {
      "format": "text",
      "caption": "Account.Id"
    }
  }
}