[
  {
    "id": 2851,
    "hook": "timereport.delete",
    "subject": "Timereport Delete",
    "eventUser": 356,
    "eventProject": 213
  },
  {
    "id": 2836,
    "hook": "timereport.delete",
    "subject": "Timereport Delete",
    "eventUser": 356,
    "eventProject": 213
  }
]
