{
  "conflicts": [
    {
      "matchedFields": ["businessId"],
      "matchedValues": ["7777777"],
      "conflictId": 1,
      "matchedObjects": [
        {
          "businessId": "7777777",
          "revenueLastYear": "0",
          "ownerName": "Owner, Thomas",
          "rfReferenceNumber": "0",
          "billingCountry": "73",
          "modified": "2015-07-07T10:43:22.643+0300",
          "activeContacts": "0",
          "id": "2293",
          "owner": "2252",
          "created": "2015-07-06T10:43:22.480+0300",
          "revenueThisYear": "0",
          "passive": "0",
          "combineInvoices": "0",
          "createdBy": "User, First",
          "billingPostalCode": "500",
          "name": "Test Account 1",
          "billingAddress": "Hämeentie 19",
          "billingCity": "Helsinki"
        },
        {
          "shippingCity": "Helsinki",
          "businessId": "7777777",
          "invoiceVat": "24",
          "revenueLastYear": "0",
          "industry": "-1",
          "shippingPostalCode": "12323",
          "type": "8",
          "ownerName": "Owner, Thomas",
          "shippingCountry": "0",
          "rfReferenceNumber": "0",
          "billingCountry": "73",
          "modified": "2015-07-07T10:43:29.853+0300",
          "activeContacts": "0",
          "id": "2305",
          "owner": "2252",
          "created": "2015-07-07T10:43:29.853+0300",
          "revenueThisYear": "0",
          "serviceLevel": "0",
          "passive": "0",
          "combineInvoices": "0",
          "phone": "12323",
          "createdBy": "User, First",
          "billingPostalCode": "1343",
          "name": "Test Account 2",
          "shippingAddress": "TEST",
          "billingAddress": "Hämeentie 19",
          "termsOfPayment": "14",
          "billingCity": "Helsinki"
        },
        {
          "shippingCity": "Helsinki",
          "businessId": "7777777",
          "invoiceVat": "24",
          "revenueLastYear": "0",
          "industry": "-1",
          "shippingPostalCode": "12323",
          "type": "8",
          "ownerName": "938",
          "shippingCountry": "73",
          "rfReferenceNumber": "0",
          "billingCountry": "73",
          "modified": "2015-07-06T17:44:54.717+0300",
          "activeContacts": "0",
          "id": "1021",
          "owner": "938",
          "created": "2015-07-06T17:44:54.717+0300",
          "revenueThisYear": "0",
          "serviceLevel": "0",
          "passive": "0",
          "combineInvoices": "0",
          "phone": "12323",
          "createdBy": "938",
          "billingPostalCode": "1343",
          "name": "Test Account 3",
          "shippingAddress": "Kuitinkatu 2",
          "billingAddress": "Hämeentie 19",
          "termsOfPayment": "14",
          "billingCity": "Helsinki"
        }
      ],
      "objectType": "account",
      "object": {
        "shippingCity": "Espoo",
        "phone": "12323",
        "billingPostalCode": "1343",
        "businessId": "7777777",
        "name": "Test Account 4",
        "shippingAddress": "Kuitinkatu 2",
        "shippingPostalCode": "12323",
        "billingAddress": "Hämeentie 19",
        "billingCity": "Helsinki"
      }
    }
  ]
}