{
  "Asiakastieto.DecisionMaker": {
    "sourceFields": [
      "[ignore]",
      "account.businessId",
      "account.name",
      "contact.title",
      "[ignore]",
      "contact.firstName",
      "[ignore]",
      "contact.lastName",
      "contact.workPhone",
      "[ignore]",
      "contact.department",
      "contact.email"
    ],
    "name": "Asiakastieto Decisionmaker",
    "active": true,
    "step": 30
  },
  "Default.SalesOrderItem": {
    "sourceFields": [
      "salesorder.operationalId",
      "salesorderitem.id",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "salesorderitem.sellingPrice",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]"
    ],
    "name": "Salesorder item",
    "active": false
  },
  "Asiakastieto.Prospect": {
    "sourceFields": [
      "[ignore]",
      "account.id",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "account.businessId",
      "account.name",
      "account.shippingAddress",
      "account.shippingPostalCode",
      "account.shippingCity",
      "account.billingAddress",
      "account.billingPostalCode",
      "account.billingCity",
      "account.phone",
      "[ignore]",
      "[ignore]",
      "account.lineOfBusiness",
      "[ignore]",
      "account.staff",
      "account.turnover",
      "[ignore]",
      "account.email",
      "account.website",
      "[passive]"
    ],
    "name": "Asiakastieto Prospect",
    "active": false
  },
  "Default.PricebookItem": {
    "sourceFields": [
      "priceBook.name",
      "priceBook.currency",
      "priceBook.languageCode",
      "priceBook.supplier",
      "priceBook.owner",
      "priceBook.passive",
      "priceBook.searchKeywords",
      "priceBook.validFrom",
      "pricebookitem.name",
      "[productname]",
      "masterProduct.operationalId",
      "[type]",
      "pricebookitem.sellingPrice",
      "pricebookitem.unit",
      "pricebookitem.billingType",
      "pricebookitem.targetEffort",
      "pricebookitem.searchKeywords",
      "[description]",
      "pricebookitem.invoicingPeriod",
      "pricebookitem.vat",
      "[costcenter]",
      "pricebookitem.revenueType",
      "pricebookitem.salesAccount",
      "pricebookitem.discount",
      "pricebookitem.invoiceProcess"
    ],
    "name": "Price book item",
    "active": true,
    "step": 20
  },
  "Default.Purchases": {
    "sourceFields": [
      "[ignore]",
      "[ignore]",
      "purchase.project",
      "task.project",
      "task.name",
      "purchase.id",
      "purchase.name",
      "purchase.date",
      "purchase.billableStatus",
      "purchase.status",
      "purchase.plannedAmount",
      "purchase.actualAmount",
      "purchase.type",
      "purchase.accountName",
      "purchase.description"
    ],
    "name": "Purchases",
    "active": false
  },
  "Default.Task": {
    "sourceFields": [
      "project.operationalId",
      "project.name",
      "task.name",
      "task.start",
      "task.finish",
      "task.type",
      "task.billableStatus",
      "task.status",
      "task.targetEffort",
      "task.unitPrice",
      "task.description",
      "[taskEstimated]"
    ],
    "name": "Task",
    "active": false
  },
  "Lead.Action": {
    "sourceFields": [
      "[ignore]",
      "[ignore]",
      "action.contact",
      "[ignore]",
      "[ignore]",
      "[ignore]",
      "action.priority",
      "action.private",
      "action.reminder",
      "action.status",
      "action.type",
      "action.project",
      "[ignore]",
      "action.opportunity",
      "action.request",
      "[ignore]",
      "action.responsible",
      "action.dueDate",
      "action.subject",
      "action.description",
      "action.start",
      "action.location",
      "action.salesOrder",
      "[ignore]"
    ],
    "name": "Lead Action",
    "active": false
  }
}