{
  "id": 12345,
  "reason": 0,
  "request": 1234,
  "subject": "Opportunity test",
  "probability": 10,
  "project": 123123,
  "description": "",
  "source": 0,
  "priority": 2,
  "type": 0,
  "stage": 10,
  "competitor": -1,
  "partnerContact": null,
  "responsible": 2834513,
  "contact": 2834513,
  "nextStep": 0,
  "campaign": 12345,
  "finish": "2015-04-30T00:00:00.000+0300",
  "status": 0
}