{
  "invoiceProcess": 1,
  "minimumAmountToBeSold": 1000,
  "masterProduct": 947,
  "targetEffort": 20,
  "revenueType": 1,
  "description": "Price book for the product SOK1",
  "discount": 0,
  "operationalId": "OPP1",
  "competence": null,
  "priceBook": 3812,
  "sellingPrice": 1000,
  "warrantyPeriod": null,
  "billingType": 1,
  "modified": null,
  "relatedToPerson": null,
  "modifiedBy": null,
  "id": 3817,
  "salesAccount": 22,
  "invoicingPeriod": 24,
  "quantity": 16,
  "costCenter": null,
  "created": "2019-01-07T12:08:17.210+0200",
  "vat": 24,
  "shortDescription": "Price book item",
  "contractPeriod": 2,
  "unit": 1,
  "task": null,
  "createdBy": 50,
  "name": "pricebook item api test",
  "selfCost": 10.6
}