[
  {
    "calendar": "Trainee: 10 hour/week",
    "calendarId": 70,
    "start": "2017-01-01 00:00:00.0",
    "updatable": 0,
    "finish": "2017-05-31 00:00:00.0",
    "id": 1,
    "user": 4
  },
  {
    "calendar": "Part-time: 25 hour/week",
    "calendarId": 80,
    "start": "2017-06-01 00:00:00.0",
    "updatable": 0,
    "finish": "2017-08-31 00:00:00.0",
    "id": 2,
    "user": 4
  },
  {
    "calendar": "Full-time: 37.5 hour/week",
    "calendarId": 90,
    "start": "2017-09-01 00:00:00.0",
    "updatable": 0,
    "finish": "2019-12-31 00:00:00.0",
    "id": 3,
    "user": 4
  }
]